@use "../base/templates" as *;
@use "../base/media" as *;

.header-t {
  background-color: var(--black);
  padding: 13px 0px;
  color: white;

  @include laptop-min {
    position: absolute;
    left: -9999px;
    z-index: -9999;
    visibility: hidden;
  }

  &__wrap {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
  }
  &__location {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 14px;

    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.7;
    }

    .icon-location {
      flex-shrink: 0;
      font-size: 14px;
      color: var(--primary);
    }
  }
  &__nav {
    margin: 0 auto;
  }
  &__list {
    display: flex;
    gap: 40px;

    @include laptop {
      gap: 20px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    @include laptop-middle {
      align-items: end;
      flex-direction: column;
    }
  }
  &__tel {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    font-size: 17px;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop {
      font-size: 15px;
    }

    .icon-tel {
      flex-shrink: 0;
      color: var(--primary);
    }
  }
  &__worktime {
    font-size: 15px;
    opacity: 0.6;
  }
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 0px;
  transition: transform 0.4s ease;
  background-color: white;
  z-index: 100;

  transition: box-shadow 0.3s ease;

  &._hide {
    transform: translateY(-100%);
  }
  &._scroll {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  .form-s {
    flex: 1;
    width: auto;
  }
  &__wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    @include laptop-min {
      gap: 10px;
    }
    @include tablet {
      flex-wrap: wrap;
    }
  }
  &__logo {
    display: block;
    width: 130px;

    @include tablet {
      width: 95px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__catalog-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    padding: 14px 20px;
    border-radius: 50px;

    user-select: none;
    color: white;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--primary-h);
    }
    @include laptop-min {
      display: none;
    }

    i {
      flex-shrink: 0;
      font-size: 11px;
    }
  }
  &__form-s {
    @include laptop-min {
      // display: none;
    }
  }
  &__contacts {
    display: flex;
    gap: 15px;

    transition: transform 0.3s ease;
    @include laptop-min {
      gap: 10px;
    }
    @include tablet {
      width: 100%;
    }
  }
  &__social {
    @include laptop-min {
      display: none;
    }
  }
  &__buttons-circle {
    display: flex;
    gap: 10px;
    @media (min-width: 1026px) {
      display: none;
    }
  }
  &__btn-circle {
    @include flex-center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--geyser);
    border-radius: 50%;

    font-size: 16px;

    transition: border-color 0.3s ease;
    @include hover {
      border-color: var(--primary);
    }
  }
  &__buttons-menu {
    display: flex;
    gap: 15px;
    @include laptop-min {
      gap: 10px;
      margin-left: auto;
      flex-shrink: 0;
    }
    .btn-p {
      position: relative;
      padding-top: 8px;
      padding-bottom: 8px;
      min-height: 48px;
      @include laptop-min {
        min-height: 0;
        height: auto;
        padding: 6px 12px;
      }

      &._account {
        &._open {
          background-color: var(--geyser) !important;
          border-color: var(--geyser) !important;

          .header__acc-drop {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &._circle {
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        border-radius: 50%;
        min-height: auto !important;
        width: 48px;
        height: 48px;

        @include laptop-min {
          width: 40px;
          height: 40px;
        }

        span {
          display: none;
        }
      }
      &._circle-mob {
        @include laptop-min {
          align-items: center;
          justify-content: center;
          padding: 0 !important;
          border-radius: 50%;
          min-height: auto !important;
          width: 40px;
          height: 40px;

          span {
            display: none;
          }
        }
      }

      .rect {
        @include flex-center;
        width: 17px;
        height: 17px;
      }

      .item-info-num {
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        color: black;
        @include laptop-min {
          font-size: 15px;
        }
      }
      .item-info-text {
        font-size: 12px;
        color: var(--bombay);
        line-height: 100%;
      }

      i {
        color: black;
      }
    }
  }
  &__burger-btn {
    @include flex-center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
    font-size: 11px;

    transition: background-color 0.3s ease;
    @include hover {
      background-color: var(--primary-h);
    }

    @media (min-width: 1026px) {
      display: none !important;
    }
  }
  &__acc-drop {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 12px;
    color: var(--black);

    z-index: 30;

    opacity: 0;
    visibility: hidden;

    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    .drop-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px 10px 20px;
      border-bottom: 1px solid var(--geyser);

      text-align: center;
    }
    .drop-title {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 15px;
      line-height: 120%;
    }
    .drop-mail {
      font-size: 15px;
      line-height: 120%;
      color: var(--bombay);

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
    .drop-list {
      border-bottom: 1px solid var(--geyser);
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;

        font-size: 14px;

        transition:
          color 0.3s ease,
          background-color 0.3s ease;

        @include hover {
          background-color: rgba(221, 15, 18, 0.07);
          color: var(--primary);

          i {
            color: var(--primary);
          }
        }

        .rect {
          @include flex-center;
          width: 18px;
          height: 18px;
          flex-shrink: 0;
        }
        i {
          font-size: 16px;
          flex-shrink: 0;
          transition: color 0.3s ease;
        }
      }
    }
    .drop-exit {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px;

      font-size: 14px;

      transition:
        color 0.3s ease,
        background-color 0.3s ease;

      @include hover {
        background-color: rgba(221, 15, 18, 0.07);
        color: var(--primary);

        i {
          color: var(--primary);
        }
      }

      .rect {
        @include flex-center;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
      }
      i {
        font-size: 16px;
        flex-shrink: 0;
        transition: color 0.3s ease;
      }
    }
  }
}

.header-nav {
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.1);

  @include laptop-min {
    display: none;
  }

  &__slider {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .slider-arrow {
      position: absolute;
      z-index: 10;

      &._prev {
        left: 0;
      }
      &._next {
        right: 0;
      }
      &.swiper-button-disabled {
        opacity: 0 !important;
        visibility: hidden !important;

        & + .shadow-decor {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .shadow-decor {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 60%);
      z-index: 2;

      transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

      &._prev {
        left: 0;
        transform: rotate(180deg);
      }
      &._next {
        right: 0;
      }
    }
  }
  &__slide {
    padding: 15px 0px;
    width: fit-content;

    font-size: 18px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }
}
.header-m {
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 1025px) {
    display: none;
  }
}
