@use '../base/templates' as *;
@use '../base/media' as *;

.s-connect {
  .container {
    @include tablet-min {
      padding: 0;
    }
  }
  &__body {
    position: relative;
    padding: 40px;
    border-radius: 16px;
    position: relative;
    background-color: var(--geyser);
    z-index: 1;

    @include laptop-min {
      padding: 25px 25px 245px 25px;
    }
    @include tablet-min {
      padding: 30px 10px 220px 10px;
    }
  }
  &__wrap {
    max-width: 800px;
  }
  &__title {
  }
  &__content {
    margin-top: 15px;
    line-height: 140%;
  }
  &__form {
    margin-top: 40px;

    @include tablet {
      margin-top: 15px;
    }

    .form-wrap {
      display: grid;
      align-items: flex-end;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    
      @include tablet {
        grid-template-columns: 1fr;
      }
    }

    .check-item {
      display: block;
      width: fit-content;
      margin-top: 20px;
      & > span::before {
        border-color: black;
      }
    }
  }
  &__form-submit {
    width: 100%;
  }
  &__img {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 615px;
    transform: translateY(-50%);
    z-index: -1;

    @include laptop {
      width: 450px;
    }
    @include laptop-middle {
      width: 350px;
    }
    @include laptop-min {
      right: 50%;
      top: auto;
      width: 500px;
      transform: translateX(50%);
      bottom: -120px;
    }
    @include tablet-min {
      width: 390px;
      bottom: -70px;
    }
  }
}