@use '../base/templates' as *;
@use '../base/media' as *;

.s-reminder {
  &__slider {
  }
  &__slide {
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    height: auto !important;
    box-sizing: border-box;

    @include tablet {
      padding: 20px;
    }

    .item-circle {
      @include flex-center;
      border-radius: 50%;
      background-color: var(--catskill);
      width: 34px;
      height: 34px;

      color: var(--bombay);
      line-height: 120%;
      text-align: center;
    }

    .content-box {
      margin-top: 20px;
    }
  }
}