:root {
  --black: #2c313a;
  --primary: #dd0f12;
  --primary-h: #bd0f11;

  --pale: #6a7480;
  --bombay: #abafb4;

  --athens: #e7eaee;
  --geyser: #dde1e6;
  --athens: #eef1f4;
  --vista: #fbf8f6;
  --catskill: #f4f7fa;
  --mystic: #eef1f5;
  --iron: #cbced3;
}
