@use "../base/templates" as *;
@use "../base/media" as *;

.card-product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mystic);
  padding: 15px;
  border-radius: 16px;

  transition: border-color 0.3s ease;
  @include hover {
    border-color: var(--iron);

    .card-product__cart-btn {
      opacity: 1;
    }
  }
  @include tablet-min {
    padding: 8px;
  }

  &__gallery {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;

    img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .item-discount {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: var(--black);
      border-radius: 12px 0px;
      padding: 4px 12px;

      font-size: 14px;
      user-select: none;
      color: white;
      @include tablet-min {
        padding: 3px 8px;
        font-size: 12px;
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    // flex: 1;
    margin-top: 10px;
  }
  &__id {
    color: var(--bombay);
    font-size: 12px;
  }
  &__title {
    @include overflowText(3);
    font-size: 14px;
    line-height: 140%;
    transition: color 0.3s ease;
    margin-top: 5px;
    min-height: 60px;
    @include hover {
      color: var(--primary);
    }
    @include tablet-min {
      font-size: 12px;
      min-height: 50px;
    }
  }
  &__location-btn {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 6px;
    margin-top: 10px;
    font-size: 14px;
    padding-bottom: 3px;
    border-bottom: 1px dashed currentColor;

    color: var(--primary);
    @include tablet-min {
      font-size: 12px;
    }

    i {
      font-size: 13px;
      @include tablet-min {
        font-size: 11px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: auto;
    gap: 12px;
    width: 100%;
    @include tablet-min {
      padding-top: 5px;
      flex: 1;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  &__price {
    display: flex;
    gap: 12px;
    @include laptop-middle {
      gap: 8px;
    }
    @include tablet {
      align-items: center;
    }
    @include tablet-min {
      gap: 5px;
    }
    .item-price {
      font-weight: 300;
      font-size: 20px;

      @include desktop {
        font-size: 17px;
      }
      @include laptop-middle {
        font-size: 15px;
      }
      @include laptop-min {
        font-size: 16px;
      }
      @include tablet {
        font-weight: 600;
        font-size: 16px;

        &._fill {
          padding: 4px;
          border-radius: 4px;
          background-color: var(--catskill);
        }
      }

      strong {
        font-weight: 600;
      }
    }
    .item-price-val {
      &._neighbour {
        color: #8290a1;
      }
    }
    .item-price-old {
      font-size: 18px;
      text-decoration: line-through;
      color: var(--bombay);
      @include desktop {
        font-size: 16px;
      }
      @include tablet {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .item-text {
      font-size: 12px;
      color: var(--bombay);
      margin-top: 2px;
      @include laptop-middle {
        font-size: 10px;
      }
      @include laptop-min {
        font-size: 12px;
      }
      @include tablet {
        font-weight: 400;
        font-size: 10px;
      }
    }
  }
  &__cart-btn {
    @include flex-center;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-color: var(--primary);
    opacity: 0;

    color: white;
    font-size: 20px;

    transition:
      background-color 0.3s ease,
      opacity 0.3s ease;
    @include hover {
      background-color: var(--primary-h);
    }
    @include laptop-middle {
      width: 38px;
      height: 38px;
      font-size: 18px;
    }
    @include laptop-min {
      opacity: 1 !important;
    }
    @include tablet-min {
      width: 100%;
      border-radius: 50px;
      padding: 10px;
      height: auto;
      text-align: center;
      font-size: 14px;
    }

    span {
      @media (min-width: 576px) {
        display: none;
      }
    }
    i {
      @include tablet-min {
        display: none;
      }
    }
  }
}
