@use "../base/templates" as *;
@use "../base/media" as *;

.cats-slider {
  position: relative;
  @include laptop-min {
    overflow: visible !important;
  }
  .swiper-slide {
    @include laptop-min {
      width: 220px !important;
      max-width: 100%;
    }
    @include tablet-min {
      width: 140px !important;
    }
  }
}
