@use '../base/templates' as *;
@use '../base/media' as *;

.products-slider {
  .swiper-slide {
    box-sizing: border-box;
    height: auto !important;

    .card-product {
      height: 100%;
    }
  }
}