@use "../base/templates" as *;
@use "../base/media" as *;

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .slider-arrow {
    position: absolute;
    z-index: 10;

    @include tablet {
      display: none;
    }

    &._prev {
      left: 0;
      transform: translateX(-55px);
      @include desktop {
        left: 10px;
        transform: translateX(0);
      }
    }
    &._next {
      right: 0;
      transform: translateX(55px);
      @include desktop {
        right: 10px;
        transform: translateX(0);
      }
    }
  }

  .swiper {
    width: 100%;
  }
}
.slider-arrow {
  --background: white;
  --border: var(--geyser);
  --color: var(--black);
  --background-h: rgba(221, 225, 230, 0.4);
  --border-h: var(--geyser);
  --color-h: var(--black);

  @include flex-center;
  background-color: var(--background);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid var(--border);
  cursor: pointer;
  border-radius: 50%;
  flex-shrink: 0;

  color: var(--color);
  font-size: 14px;

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color-h);
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  @include tablet {
    margin-top: 10px;
  }

  &._lap {
    @media (min-width: 1026px) {
      display: none !important;
    }
  }

  .swiper-pagination-bullet {
    margin: 0 !important;
    opacity: 1 !important;
    background-color: var(--geyser);
    width: 8px;
    height: 8px;
    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--primary);
    }

    &.swiper-pagination-bullet-active {
      background-color: var(--primary);
    }
  }
}
