@use '../base/templates' as *;
@use '../base/media' as *;

.video-bg {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
  z-index: -1;
}