<aside>
  <div class="burger-overlay" id="burger-overlay"></div>
  <div class="burger" id="burger">
    <div data-burger-tab="burger-tab-start" class="burger__tab _active _show">
      <div class="burger__container">
        <div class="burger__head">
          <div class="burger__head-btn burger__close">
            <i class="icon-close"></i>
          </div>
        </div>
        <ul class="list burger__list">
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-0">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-1">
            <a href="#">
              <img src="@img/catalog-icon.svg" alt="icon" />
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
        </ul>
      </div>
    </div>
    <div data-burger-tab="burger-tab-0" class="burger__tab">
      <div class="burger__container">
        <div class="burger__head">
          <div data-burger-tab-btn="burger-tab-start" class="burger__head-btn">
            <i class="icon-prev"></i>
          </div>
          <div class="burger__head-btn burger__close">
            <i class="icon-close"></i>
          </div>
        </div>
        <div class="burger__tab-title">Ручной инструмент</div>
        <ul class="list burger__list">
          <li data-burger-tab-btn="burger-tab-3">
            <a href="#">
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-3">
            <a href="#">
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-3">
            <a href="#">
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-3">
            <a href="#">
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
        </ul>
      </div>
    </div>
    <div data-burger-tab="burger-tab-1" class="burger__tab">
      <div class="burger__container">
        <div class="burger__head">
          <div data-burger-tab-btn="burger-tab-start" class="burger__head-btn">
            <i class="icon-prev"></i>
          </div>
          <div class="burger__head-btn burger__close">
            <i class="icon-close"></i>
          </div>
        </div>
        <div class="burger__tab-title">Ручной инструмент</div>
        <ul class="list burger__list">
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Водные краски и колоранты</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Эмали</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Сантехника и сантехарматура</span>
            </a>
            <i class="icon-next"></i>
          </li>
          <li data-burger-tab-btn="burger-tab-4">
            <a href="#">
              <span>Ручной инструмент</span>
            </a>
            <i class="icon-next"></i>
          </li>
        </ul>
      </div>
    </div>
    <div data-burger-tab="burger-tab-3" class="burger__tab">
      <div class="burger__container">
        <div class="burger__head">
          <div data-burger-tab-btn="burger-tab-0" class="burger__head-btn">
            <i class="icon-prev"></i>
          </div>
          <div class="burger__head-btn burger__close">
            <i class="icon-close"></i>
          </div>
        </div>
        <div class="burger__tab-title">Средства индивидуальной защиты</div>
        <ul class="list burger__list">
          <li class="_simple">
            <a href="#">
              <span>Водные краски и колоранты</span>
            </a>
          </li>
          <li class="_simple">
            <a href="#">
              <span>Эмали</span>
            </a>
          </li>
          <li class="_simple">
            <a href="#">
              <span>Сантехника и сантехарматура</span>
            </a>
          </li>
          <li class="_simple">
            <a href="#">
              <span>Ручной инструмент</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div data-burger-tab="burger-tab-4" class="burger__tab">
      <div class="burger__container">
        <div class="burger__head">
          <div data-burger-tab-btn="burger-tab-1" class="burger__head-btn">
            <i class="icon-prev"></i>
          </div>
          <div class="burger__head-btn burger__close">
            <i class="icon-close"></i>
          </div>
        </div>
        <div class="burger__tab-title">Средства индивидуальной защиты</div>
        <ul class="list burger__list">
          <li class="_simple">
            <a href="#">
              <span>Водные краски и колоранты</span>
            </a>
          </li>
          <li class="_simple">
            <a href="#">
              <span>Эмали</span>
            </a>
          </li>
          <li class="_simple">
            <a href="#">
              <span>Сантехника и сантехарматура</span>
            </a>
          </li>
          <li class="_simple">
            <a href="#">
              <span>Ручной инструмент</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="burger__form-wrap">
      <form action="#" class="form-s">
        <div class="form-s__wrap">
          <input
            type="text"
            placeholder="Поиск по тысячам товаров"
            class="form-s__input"
          />
          <div class="form-s__submit">
            <i class="icon-search"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</aside>
