<div class="header-t">
  <div class="container">
    <div class="header-t__wrap">
      <a href="#modal-shops" class="header-t__location">
        <i class="icon-location"></i>
        <span>11 магазинов</span>
      </a>
      <nav class="header-t__nav">
        <ul class="list header-t__list">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Карта лояльности</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Самовывоз</a></li>
          <li><a href="#">Возврат</a></li>
        </ul>
      </nav>
      <div class="header-t__contacts">
        <a href="tel:88435000707" class="header-t__tel">
          <i class="icon-tel"></i>
          <span>8 (843) 500-07-07</span>
        </a>
        <div class="header-t__worktime">с 8:00 до 19:00</div>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="header__catalog-btn toggle-fixed-catalog">
        <i class="icon-burger"></i>
        <span>Каталог товаров</span>
      </div>
      <form action="#" class="form-s header__form-s">
        <div class="form-s__wrap">
          <input
            type="text"
            placeholder="Поиск по тысячам товаров"
            class="form-s__input"
          />
          <div class="form-s__submit">
            <i class="icon-search"></i>
          </div>
        </div>
        <div class="form-s__body">
          <div class="form-s__body-container">
            <ul class="list form-s__cats">
              <li>
                <a href="#" class="item-cat">Пены, герметики, клеи</a>
                <span class="item-separator">/</span>
                <a href="#" class="item-el"><strong>Клеи</strong></a>
              </li>
              <li>
                <a href="#" class="item-cat">Пены, герметики, клеи</a>
                <span class="item-separator">/</span>
                <a href="#" class="item-el">
                  <strong>Обойные</strong>
                  клеи
                </a>
              </li>
              <li>
                <a href="#" class="item-cat">Пены, герметики, клеи</a>
                <span class="item-separator">/</span>
                <a href="#" class="item-el">
                  <strong>Клей</strong>
                  для теплоизоляции
                </a>
              </li>
            </ul>
          </div>
          <div class="form-s__res">
            <div class="card-product-s">
              <a href="#" class="card-product-s__gallery">
                <img src="@img/card-product-search.svg" alt="image" />
              </a>
              <a href="#" class="card-product-s__body">
                <div class="card-product-s__title">
                  Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                  всесезонная 1000 мл
                </div>
                <div class="card-product-s__price">
                  <div class="wrap-price">
                    <div class="item-price">
                      <div class="item-val">710 ₽</div>
                    </div>
                    <div class="item-old-price">
                      <div class="item-val">874 ₽</div>
                    </div>
                  </div>
                  <div class="item-discount">-19%</div>
                </div>
              </a>
              <div class="card-product-s__cart-btn">
                <i class="icon-cart"></i>
              </div>
            </div>
            <div class="card-product-s">
              <a href="#" class="card-product-s__gallery">
                <img src="@img/card-product-search.svg" alt="image" />
              </a>
              <a href="#" class="card-product-s__body">
                <div class="card-product-s__title">
                  Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                  всесезонная 1000 мл
                </div>
                <div class="card-product-s__price">
                  <div class="wrap-price">
                    <div class="item-price-s">
                      <div class="item-val"><strong>218 ₽</strong></div>
                      <div class="item-text">Онлайн (-5%)</div>
                    </div>
                    <div class="item-price-s">
                      <div class="item-val">229 ₽</div>
                      <div class="item-text">В магазине</div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="card-product-s__cart-btn">
                <i class="icon-cart"></i>
              </div>
            </div>
            <div class="card-product-s">
              <a href="#" class="card-product-s__gallery">
                <img src="@img/card-product-search.svg" alt="image" />
              </a>
              <a href="#" class="card-product-s__body">
                <div class="card-product-s__title">
                  Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                  всесезонная 1000 мл
                </div>
                <div class="card-product-s__price">
                  <div class="wrap-price">
                    <div class="item-price">
                      <div class="item-val">710 ₽</div>
                    </div>
                    <div class="item-old-price">
                      <div class="item-val">874 ₽</div>
                    </div>
                  </div>
                  <div class="item-discount">-19%</div>
                </div>
              </a>
              <div class="card-product-s__cart-btn">
                <i class="icon-cart"></i>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="social header__social">
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <i class="icon-tg"></i>
        </a>
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <i class="icon-max"></i>
        </a>
      </div>
      <div class="header__buttons-menu">
        <a href="#" target="_blank" rel="nofollow" class="btn-p _lap">
          <div class="rect">
            <i class="icon-location"></i>
          </div>
        </a>
        <a href="tel:88435000707" class="btn-p _lap">
          <div class="rect">
            <i class="icon-tel"></i>
          </div>
        </a>
        <a href="#" class="btn-p">
          <div class="rect">
            <i class="icon-profile"></i>
          </div>
          <span>Аккаунт</span>
           <!-- <div class="item-info">
            <div class="item-info-num">1 514</div>
            <div class="item-info-text">Бонусов</div>
           </div> -->
        </a>
        <a href="#" class="btn-p">
          <div class="rect">
            <i class="icon-cart"></i>
            <div class="num">17</div>
          </div>
          <span>Корзина</span>
        </a>
      </div>
      <div class="header__burger-btn" id="burger-open">
        <i class="icon-burger"></i>
      </div>
    </div>
  </div>
</header>
<div class="header-nav">
  <div class="container">
    <div class="swiper header-nav__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide header-nav__slide">
          Садовые принадлежности
        </a>
        <a href="#" class="swiper-slide header-nav__slide">Электротовары</a>
        <a href="#" class="swiper-slide header-nav__slide">Автотовары</a>
        <a href="#" class="swiper-slide header-nav__slide">
          Хозяйственные товары
        </a>
        <a href="#" class="swiper-slide header-nav__slide">
          Сантехника и сантехарматура
        </a>
        <a href="#" class="swiper-slide header-nav__slide">Ручной инструмент</a>
        <a href="#" class="swiper-slide header-nav__slide">
          Садовые принадлежности
        </a>
        <a href="#" class="swiper-slide header-nav__slide">Электротовары</a>
        <a href="#" class="swiper-slide header-nav__slide">Автотовары</a>
        <a href="#" class="swiper-slide header-nav__slide">
          Хозяйственные товары
        </a>
        <a href="#" class="swiper-slide header-nav__slide">
          Сантехника и сантехарматура
        </a>
        <a href="#" class="swiper-slide header-nav__slide">Ручной инструмент</a>
      </div>
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="shadow-decor _prev"></div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="shadow-decor _next"></div>
    </div>
  </div>
</div>
<aside class="fixed-catalog">
  <div class="container">
    <div class="fixed-catalog__wrap">
      <div class="fixed-catalog__sidebar">
        <ul class="list fixed-catalog__sidebar-list">
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0" class="_active">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Водные краски и колоранты</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Эмали</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Сантехника и сантехарматура</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Ручной инструмент</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Водные краски и колоранты</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Эмали</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Сантехника и сантехарматура</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Ручной инструмент</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Водные краски и колоранты</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Эмали</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Сантехника и сантехарматура</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Ручной инструмент</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Водные краски и колоранты</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Эмали</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Сантехника и сантехарматура</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Ручной инструмент</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Водные краски и колоранты</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Эмали</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-0">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Сантехника и сантехарматура</span>
              <i class="icon-next"></i>
            </a>
          </li>
          <li>
            <a href="#" data-fixed-catalog-btn-tab="tab-1">
              <img src="@img/catalog-icon.svg" alt="icon" class="item-icon" />
              <span>Ручной инструмент</span>
              <i class="icon-next"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="fixed-catalog__body">
        <div
          data-fixed-catalog-tab="tab-0"
          class="fixed-catalog__tab _active _show"
        >
          <div class="fixed-catalog__grid">
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">Средства индивидуальной защиты</a>
              <ul class="list">
                <li><a href="#">Перчатки, рукавицы</a></li>
                <li><a href="#">Маски сварщика</a></li>
                <li><a href="#">Респираторы, маски</a></li>
                <li><a href="#">Наколенники, комбинезон, наушники</a></li>
                <li><a href="#">Защитыне очки и каски</a></li>
              </ul>
            </div>
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">
                Инструмент для обработки поверхности
              </a>
              <ul class="list">
                <li><a href="#">Щетки стальные</a></li>
                <li><a href="#">Шлифлисты, шлифбумага</a></li>
                <li><a href="#">Шлифсетки, шлифгубки, шлифовщики</a></li>
              </ul>
            </div>
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">Средства индивидуальной защиты</a>
              <ul class="list">
                <li><a href="#">Перчатки, рукавицы</a></li>
                <li><a href="#">Маски сварщика</a></li>
                <li><a href="#">Респираторы, маски</a></li>
                <li><a href="#">Наколенники, комбинезон, наушники</a></li>
                <li><a href="#">Защитыне очки и каски</a></li>
              </ul>
            </div>
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">
                Инструмент для обработки поверхности
              </a>
              <ul class="list">
                <li><a href="#">Щетки стальные</a></li>
                <li><a href="#">Шлифлисты, шлифбумага</a></li>
                <li><a href="#">Шлифсетки, шлифгубки, шлифовщики</a></li>
              </ul>
            </div>
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">
                Инструмент для обработки поверхности
              </a>
              <ul class="list">
                <li><a href="#">Щетки стальные</a></li>
                <li><a href="#">Шлифлисты, шлифбумага</a></li>
                <li><a href="#">Шлифсетки, шлифгубки, шлифовщики</a></li>
              </ul>
            </div>
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">Средства индивидуальной защиты</a>
              <ul class="list">
                <li><a href="#">Перчатки, рукавицы</a></li>
                <li><a href="#">Маски сварщика</a></li>
                <li><a href="#">Респираторы, маски</a></li>
                <li><a href="#">Наколенники, комбинезон, наушники</a></li>
                <li><a href="#">Защитыне очки и каски</a></li>
                <li><a href="#">Перчатки, рукавицы</a></li>
                <li><a href="#">Маски сварщика</a></li>
                <li><a href="#">Респираторы, маски</a></li>
                <li><a href="#">Наколенники, комбинезон, наушники</a></li>
                <li><a href="#">Защитыне очки и каски</a></li>
                <li><a href="#">Перчатки, рукавицы</a></li>
                <li><a href="#">Маски сварщика</a></li>
                <li><a href="#">Респираторы, маски</a></li>
                <li><a href="#">Наколенники, комбинезон, наушники</a></li>
                <li><a href="#">Защитыне очки и каски</a></li>
              </ul>
            </div>
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">
                Инструмент для обработки поверхности
              </a>
              <ul class="list">
                <li><a href="#">Щетки стальные</a></li>
                <li><a href="#">Шлифлисты, шлифбумага</a></li>
                <li><a href="#">Шлифсетки, шлифгубки, шлифовщики</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div data-fixed-catalog-tab="tab-1" class="fixed-catalog__tab">
          <div class="fixed-catalog__grid">
            <div class="fixed-catalog__item">
              <a href="#" class="item-title">Средства индивидуальной защиты</a>
              <ul class="list">
                <li><a href="#">Перчатки, рукавицы</a></li>
                <li><a href="#">Маски сварщика</a></li>
                <li><a href="#">Респираторы, маски</a></li>
                <li><a href="#">Наколенники, комбинезон, наушники</a></li>
                <li><a href="#">Защитыне очки и каски</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
