<aside>
  <div class="modal _shops" id="modal-shops">
    <div class="modal__close" data-fancybox-close>
      <i class="icon-close"></i>
    </div>
    <div class="modal__container">
      <div class="modal__title s-title">Наши магазины</div>
      <div class="tabs modal__tabs">
        <div class="modal__tabs-nav tabs-nav">
          <div data-tab-btn="tab-0" class="btn-m _outline _active">
            Казань (8)
          </div>
          <div data-tab-btn="tab-1" class="btn-m _outline">
            Рыбная слобода (1)
          </div>
          <div data-tab-btn="tab-2" class="btn-m _outline">Куюки (1)</div>
          <div data-tab-btn="tab-3" class="btn-m _outline">Тургай-2 (1)</div>
        </div>
        <div class="tabs-content">
          <div data-tab="tab-0" class="_active _show">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-1">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-2">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-3">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal-review">
    <div class="modal__close" data-fancybox-close>
      <i class="icon-close"></i>
    </div>
    <div class="modal__container">
      <div class="modal__title s-title">Оставить отзыв по товару</div>
      <form action="#" class="modal__form">
        <div class="form-control">
          <div class="input-name">Имя</div>
          <input required type="text" class="input" />
        </div>
        <div class="form-control">
          <div class="input-name">Телефон</div>
          <input required type="tel" class="input" />
        </div>
        <div class="form-control">
          <div class="input-name">Поставьте оценку</div>
          <div class="rating">
            <input type="radio" id="star-5" name="rating" value="5" />
            <label for="star-5"><i class="icon-star"></i></label>
            <input type="radio" id="star-4" name="rating" value="4" />
            <label for="star-4"><i class="icon-star"></i></label>
            <input type="radio" id="star-3" name="rating" value="3" />
            <label for="star-3"><i class="icon-star"></i></label>
            <input type="radio" id="star-2" name="rating" value="2" />
            <label for="star-2"><i class="icon-star"></i></label>
            <input type="radio" id="star-1" name="rating" value="1" />
            <label for="star-1"><i class="icon-star"></i></label>
          </div>
        </div>
        <div class="form-control">
          <div class="input-name">Отзыв</div>
          <textarea rows="8" class="input"></textarea>
        </div>
        <button type="submit" class="btn-s modal__form-submit">
          Оставить отзыв
        </button>
        <label class="check-item">
          <input type="checkbox" />
          <span>
            <span>
              Я согласен с условиями
              <a href="#" target="_blank">Политики конфеденциальности</a>
              и подтверждаю свое согласие на обработку компанией «Колорит»
              предоставленных мной персональных данных.
            </span>
          </span>
        </label>
      </form>
    </div>
  </div>
</aside>
