<aside>
  <div class="modal _shops" id="modal-shops">
    <div class="modal__close" data-fancybox-close>
      <i class="icon-close"></i>
    </div>
    <div class="modal__container">
      <div class="modal__title s-title">Наши магазины</div>
      <div class="tabs modal__tabs">
        <div class="modal__tabs-nav tabs-nav">
          <div data-tab-btn="tab-0" class="btn-m _outline _active">
            Казань (8)
          </div>
          <div data-tab-btn="tab-1" class="btn-m _outline">
            Рыбная слобода (1)
          </div>
          <div data-tab-btn="tab-2" class="btn-m _outline">Куюки (1)</div>
          <div data-tab-btn="tab-3" class="btn-m _outline">Тургай-2 (1)</div>
        </div>
        <div class="tabs-content">
          <div data-tab="tab-0" class="_active _show">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-1">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-2">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-3">
            <div class="modal__shops _scrollbar">
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
              <div class="modal__shop">
                <div class="modal__shop-name">ул. Техническая, 60</div>
                <ul class="list modal__shop-list">
                  <li>
                    <div class="item-name">пн-сб: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                  <li>
                    <div class="item-name">вс: </div>
                    <span>с 8:00 до 19:00,</span>
                  </li>
                </ul>
                <a href="tel:+79534995640" class="modal__shop-tel">
                  +7 (953) 499 56-40
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
