<section class="sect-p s-account _catskill">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">
            <i class="icon-prev"></i>
            <span>Интернет-магазин Колорит</span>
          </a>
        </div>
        <h2 class="s-title">Мои подписки</h2>
      </div>
    </div>
    <div class="s-account__btn-menu btn-m _outline" id="sidebar-account-open">
      <i class="icon-burger"></i>
      Меню
    </div>
    <div class="s-account__wrap">
      <div
        class="s-account__sidebar-overlay"
        id="sidebar-account-overlay"
      ></div>
      <div class="s-account__sidebar" id="sidebar-account">
        <div class="s-account__sidebar-close" id="sidebar-account-close">
          <i class="icon-close"></i>
        </div>
        <ul class="list s-account__sidebar-list">
          <li>
            <a href="#" class="s-account__sidebar-btn _active">
              <i class="icon-cart"></i>
              <span>Мои заказы</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-profile"></i>
              <span>Личные данные</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-mail-mini"></i>
              <span>Мои подписки</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-card"></i>
              <span>Бонусы</span>
            </a>
          </li>
        </ul>
        <a href="#" class="s-account__sidebar-btn _exit">
          <i class="icon-exit"></i>
          <span>Выйти</span>
        </a>
      </div>
      <div class="s-account__main">
        <form class="s-account__form-wrap">
          <div class="s-account__form-block">
            <div class="s-account__form-block-title">Рубрики</div>
            <div class="s-account__form-block-grid">
              <div class="form-control _full">
                <div class="s-account__form-checks">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Новости магазина</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>Акции, скидки</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="s-account__form-block">
            <div class="s-account__form-block-grid">
              <div class="form-control">
                <div class="input-name">Email</div>
                <input type="email" class="input" />
                <div class="form-notification">
                  <i class="icon-notification"></i>
                  <div class="form-notification__text">
                    Если Вы уже подписаны на нашу рассылку и хотите изменить ее
                    настройки (например, отписаться), введите e-mail, на который
                    вы получаете наши письма.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn-s s-account__form-submit">Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
</section>
