<section class="sect-p s-account _catskill">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">
            <i class="icon-prev"></i>
            <span>Интернет-магазин Колорит</span>
          </a>
        </div>
        <h2 class="s-title">Мои заказы</h2>
      </div>
    </div>
    <div class="s-account__btn-menu btn-m _outline" id="sidebar-account-open">
      <i class="icon-burger"></i>
      Меню
    </div>
    <div class="s-account__wrap">
      <div
        class="s-account__sidebar-overlay"
        id="sidebar-account-overlay"
      ></div>
      <div class="s-account__sidebar" id="sidebar-account">
        <div class="s-account__sidebar-close" id="sidebar-account-close">
          <i class="icon-close"></i>
        </div>
        <ul class="list s-account__sidebar-list">
          <li>
            <a href="#" class="s-account__sidebar-btn _active">
              <i class="icon-cart"></i>
              <span>Мои заказы</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-profile"></i>
              <span>Личные данные</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-mail-mini"></i>
              <span>Мои подписки</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-card"></i>
              <span>Бонусы</span>
            </a>
          </li>
        </ul>
        <a href="#" class="s-account__sidebar-btn _exit">
          <i class="icon-exit"></i>
          <span>Выйти</span>
        </a>
      </div>
      <div class="s-account__main">
        <div class="s-account__history">
          <div class="s-account__history-nav">
            <a href="#" class="btn-m _outline _active">Текущие</a>
            <a href="#" class="btn-m _outline">Завершенные</a>
            <a href="#" class="btn-m _outline">Отмененные</a>
          </div>
          <div data-spollers class="s-account__history-items">
            <div data-spoller-item class="s-account__history-item">
              <div data-spoller class="s-account__history-item-head">
                <div class="s-account__history-item-main">
                  <div class="item-name">Заказ №34871204</div>
                  <div class="item-date">
                    <span>Дата заказа:</span>
                    29.01.2021 18:00
                  </div>
                </div>
                <div class="s-account__history-item-flex">
                  <div class="s-account__history-item-price">440 ₽</div>
                  <div class="s-account__history-item-status _success">
                    Оплачено
                  </div>
                  <div class="s-account__history-item-toggle">
                    <span>Подробнее</span>
                    <i class="icon-bottom"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="s-account__history-item-body">
                  <div class="s-account__history-item-info">
                    <div class="s-account__history-item-main">
                      <div class="item-title">Самовывоз</div>
                      <div class="item-date">
                        <span>Дата доставки:</span>
                        02.02.2021
                      </div>
                    </div>
                    <div class="s-account__history-item-flex">
                      <div class="s-account__history-item-status">
                        Товар получен
                      </div>
                      <a href="#" class="btn-s s-account__history-item-repeat">
                        Повторить заказ
                      </a>
                    </div>
                  </div>
                </div>
                <div class="s-account__history-item-products">
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                          бесщеточная "ПРОФЕССИОНАЛ" 20В
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Монтажная пена профессиональная Penosil Window & Door
                          Elastic 198 для окон и дверей, эластич. 800мл
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-item class="s-account__history-item">
              <div data-spoller class="s-account__history-item-head">
                <div class="s-account__history-item-main">
                  <div class="item-name">Заказ №34871204</div>
                  <div class="item-date">
                    <span>Дата заказа:</span>
                    29.01.2021 18:00
                  </div>
                </div>
                <div class="s-account__history-item-flex">
                  <div class="s-account__history-item-price">440 ₽</div>
                  <div class="s-account__history-item-status _success">
                    Оплачено
                  </div>
                  <div class="s-account__history-item-toggle">
                    <span>Подробнее</span>
                    <i class="icon-bottom"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="s-account__history-item-body">
                  <div class="s-account__history-item-info">
                    <div class="s-account__history-item-main">
                      <div class="item-title">Самовывоз</div>
                      <div class="item-date">
                        <span>Дата доставки:</span>
                        02.02.2021
                      </div>
                    </div>
                    <div class="s-account__history-item-flex">
                      <div class="s-account__history-item-status">
                        Товар получен
                      </div>
                      <a href="#" class="btn-s s-account__history-item-repeat">
                        Повторить заказ
                      </a>
                    </div>
                  </div>
                </div>
                <div class="s-account__history-item-products">
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                          бесщеточная "ПРОФЕССИОНАЛ" 20В
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Монтажная пена профессиональная Penosil Window & Door
                          Elastic 198 для окон и дверей, эластич. 800мл
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-item class="s-account__history-item">
              <div data-spoller class="s-account__history-item-head">
                <div class="s-account__history-item-main">
                  <div class="item-name">Заказ №34871204</div>
                  <div class="item-date">
                    <span>Дата заказа:</span>
                    29.01.2021 18:00
                  </div>
                </div>
                <div class="s-account__history-item-flex">
                  <div class="s-account__history-item-price">440 ₽</div>
                  <div class="s-account__history-item-status _success">
                    Оплачено
                  </div>
                  <div class="s-account__history-item-toggle">
                    <span>Подробнее</span>
                    <i class="icon-bottom"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="s-account__history-item-body">
                  <div class="s-account__history-item-info">
                    <div class="s-account__history-item-main">
                      <div class="item-title">Самовывоз</div>
                      <div class="item-date">
                        <span>Дата доставки:</span>
                        02.02.2021
                      </div>
                    </div>
                    <div class="s-account__history-item-flex">
                      <div class="s-account__history-item-status">
                        Товар получен
                      </div>
                      <a href="#" class="btn-s s-account__history-item-repeat">
                        Повторить заказ
                      </a>
                    </div>
                  </div>
                </div>
                <div class="s-account__history-item-products">
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                          бесщеточная "ПРОФЕССИОНАЛ" 20В
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Монтажная пена профессиональная Penosil Window & Door
                          Elastic 198 для окон и дверей, эластич. 800мл
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-spoller-item class="s-account__history-item">
              <div data-spoller class="s-account__history-item-head">
                <div class="s-account__history-item-main">
                  <div class="item-name">Заказ №34871204</div>
                  <div class="item-date">
                    <span>Дата заказа:</span>
                    29.01.2021 18:00
                  </div>
                </div>
                <div class="s-account__history-item-flex">
                  <div class="s-account__history-item-price">440 ₽</div>
                  <div class="s-account__history-item-status _success">
                    Оплачено
                  </div>
                  <div class="s-account__history-item-toggle">
                    <span>Подробнее</span>
                    <i class="icon-bottom"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="s-account__history-item-body">
                  <div class="s-account__history-item-info">
                    <div class="s-account__history-item-main">
                      <div class="item-title">Самовывоз</div>
                      <div class="item-date">
                        <span>Дата доставки:</span>
                        02.02.2021
                      </div>
                    </div>
                    <div class="s-account__history-item-flex">
                      <div class="s-account__history-item-status">
                        Товар получен
                      </div>
                      <a href="#" class="btn-s s-account__history-item-repeat">
                        Повторить заказ
                      </a>
                    </div>
                  </div>
                </div>
                <div class="s-account__history-item-products">
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                          бесщеточная "ПРОФЕССИОНАЛ" 20В
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-history-product">
                    <a href="#" class="card-history-product__gallery">
                      <img src="@img/card-product-1.png" alt="image" />
                    </a>
                    <div class="card-history-product__body">
                      <div class="card-history-product__info">
                        <div class="card-history-product__id">
                          Артикул: 00000122303
                        </div>
                        <a href="#" class="card-history-product__title">
                          Монтажная пена профессиональная Penosil Window & Door
                          Elastic 198 для окон и дверей, эластич. 800мл
                        </a>
                      </div>
                      <div class="card-history-product__end">
                        <div class="card-history-product__count">1 шт</div>
                        <div class="card-history-product__price">18 717 ₽</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
