<section class="sect-p s-account _catskill">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">
            <i class="icon-prev"></i>
            <span>Интернет-магазин Колорит</span>
          </a>
        </div>
        <h2 class="s-title">Бонусы</h2>
      </div>
    </div>
    <div class="s-account__btn-menu btn-m _outline" id="sidebar-account-open">
      <i class="icon-burger"></i>
      Меню
    </div>
    <div class="s-account__wrap">
      <div
        class="s-account__sidebar-overlay"
        id="sidebar-account-overlay"
      ></div>
      <div class="s-account__sidebar" id="sidebar-account">
        <div class="s-account__sidebar-close" id="sidebar-account-close">
          <i class="icon-close"></i>
        </div>
        <ul class="list s-account__sidebar-list">
          <li>
            <a href="#" class="s-account__sidebar-btn _active">
              <i class="icon-cart"></i>
              <span>Мои заказы</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-profile"></i>
              <span>Личные данные</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-mail-mini"></i>
              <span>Мои подписки</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-card"></i>
              <span>Бонусы</span>
            </a>
          </li>
        </ul>
        <a href="#" class="s-account__sidebar-btn _exit">
          <i class="icon-exit"></i>
          <span>Выйти</span>
        </a>
      </div>
      <div class="s-account__main">
        <form class="s-account__form-wrap">
          <div class="s-account__form-block">
            <div class="s-account__form-title-wrap">
              <div class="s-account__form-block-title">Бонусный счет</div>
              <a href="#" class="s-account__form-title-link">Правила бонусной программы</a>
            </div>
            <div class="s-account__bonuse-grid">
              <div class="s-account__bonuse-info">
                <div class="s-account__bonuse-counter">
                  <span class="item-num">1 514</span>
                  <span class="item-text">Бонусов</span>
                </div>
                <div class="form-notification">
                  <i class="icon-notification"></i>
                  <div class="form-notification__text">Бонусы начисляются в размере 5% от суммы заказа</div>
                </div>
              </div>
              <div class="s-account__bonuse-list-wrap">
                <div class="s-account__bonuse-list-title">Ближайшее сгорание бонусов</div>
                <ul class="list simple-list s-account__bonuse-list">
                  <li>
                    <span class="item-name">Бонусы сгорают в 00:00</span>
                    <span class="item-line"></span>
                    <span class="item-val">11.09.2026</span>
                  </li>
                  <li>
                    <span class="item-name">Сумма сгорания</span>
                    <span class="item-line"></span>
                    <span class="item-val _primary">144</span>
                  </li>
                </ul>
              </div>
              <div class="s-account__bonuse-card">
                <img src="@img/card.png" alt="image" class="item-img">
                <div class="item-body">
                  <span class="item-text">Привязана бонусная карта</span>
                  <span class="item-num">0156 5874 2669 5412</span>
                  <a href="#" class="item-btn">
                    <i class="icon-close"></i>
                    <span>Отвязать</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>