<section class="sect-p s-account _catskill">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">
            <i class="icon-prev"></i>
            <span>Интернет-магазин Колорит</span>
          </a>
        </div>
        <h2 class="s-title">Личные данные</h2>
      </div>
    </div>
    <div class="s-account__wrap">
      <div class="s-account__sidebar">
        <ul class="list s-account__sidebar-list">
          <li>
            <a href="#" class="s-account__sidebar-btn _active">
              <i class="icon-cart"></i>
              <span>Мои заказы</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-profile"></i>
              <span>Личные данные</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-mail-min"></i>
              <span>Мои подписки</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-account__sidebar-btn">
              <i class="icon-card"></i>
              <span>Бонусы</span>
            </a>
          </li>
        </ul>
        <a href="#" class="s-account__sidebar-btn _exit">
          <i class="icon-exit"></i>
          <span>Выйти</span>
        </a>
      </div>
      <div class="s-account__main">
        <form class="s-account__profile">
          <div class="s-account__profile-block">
            <div class="s-account__profile-block-title">Данные</div>
            <div class="s-account__profile-block-grid">
              <div class="form-control">
                <div class="input-name">Имя</div>
                <input type="text" class="input">
              </div>
              <div class="form-control">
                <div class="input-name">Телефон</div>
                <input type="tel" class="input">
              </div>
              <div class="form-control">
                <div class="input-name">Email</div>
                <input type="email" class="input">
              </div>
              <div class="form-control">
                <div class="input-name">Город</div>
                <input type="text" class="input">
              </div>
            </div>
          </div>
          <div class="s-account__profile-block">
            <div class="s-account__profile-block-title">Безопасность</div>
            <div class="s-account__profile-block-grid">
              <div class="form-control">
                <div class="input-name">Новый пароль</div>
                <input type="password" class="input">
              </div>
              <div class="form-control">
                <div class="input-name">Подтверждение пароля</div>
                <input type="password" class="input">
              </div>
            </div>
          </div>
          <button class="btn-s s-account__profile-submit">Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
</section>
