<section class="s-adv sect-m">
  <div class="container">
    <div class="sect-wrap _catskill s-adv__wrap">
      <img src="@img/adv-decor.png" alt="decor" class="s-adv__decor">
      <div class="s-adv__grid">
        <div class="s-adv__gallery">
          <img src="@img/adv.jpg" alt="image" class="s-adv__img" />
        </div>
        <div class="s-adv__item">
          <div class="item-num">30+</div>
          <span class="item-text">лет на рынке</span>
        </div>
        <div class="s-adv__item">
          <div class="item-num">>5 000</div>
          <span class="item-text">товаров в наличии</span>
        </div>
        <div class="s-adv__item">
          <div class="item-num">11</div>
          <span class="item-text">магазинов в Казани</span>
        </div>
        <div class="s-adv__item">
          <div class="item-num">>100</div>
          <span class="item-text">поставщиков и мерчантов</span>
        </div>
        <div class="s-adv__gallery">
          <img src="@img/adv.jpg" alt="image" class="s-adv__img" />
        </div>
      </div>
    </div>
  </div>
</section>
