<section class="sect-m s-assortment">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наш ассортимент</h2>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper s-assortment__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide s-assortment__slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Садовые принадлежности</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">краски</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
