<section class="sect-m _first s-bann">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
      <span class="breadcrumb-separator">
        <i class="icon-next"></i>
      </span>
      <span class="breadcrumb-item _current">Карта лояльности</span>
    </div>
    <div
      class="s-bann__wrap _offset"
      style="
        background: url(&quot;@img/bann.jpg&quot;) left 0 bottom 0 / cover
          no-repeat;
      "
    >
      <div
        class="s-bann__wrap-mob-bg"
        style="
          background: url(&quot;@img/bann-mob.jpg&quot;) left 0 bottom 0 / cover
            no-repeat;
        "
      ></div>
      <div class="s-bann__info">
        <h1 class="s-title s-bann__title">Карта лояльности</h1>
        <div class="content-box s-bann__content">
          <p>
            Карта выгод «Колоритка» действует во всех розничных магазинах сети
            «Колорит», а также в салоне «Re Studio»
          </p>
        </div>
        <a href="#" class="btn-s s-bann__btn">
          Присоединиться к бонусной программе
        </a>
      </div>
      <picture class="s-bann__picture">
        <source srcset="@img/loyalty-img-mob.png" media="(max-width: 576px)" />
        <img src="@img/loyalty-img.png" alt="image" />
      </picture>
    </div>
    <div class="s-bann__block-content">
      <div class="content-box">
        <p>
          С 1 декабря 2025 года бонусы начисляются в размере до 5% на все
          покупки в течение 14 суток с момента покупки. 1 бонус = 1 рубль.
          Бонусы обнуляются в случае, если Вы не использовали их в течение 120
          дней, с момента начисления. Бонусами можно оплатить до 99% покупки.
          Бонусы не начисляются на товары по акциям.
        </p>
      </div>
      <div class="content-box">
        <p>
          Бонусы не начисляются на уцененные товары. Начисление бонусов
          происходит на товары с белыми ценниками. Наличие и сумму бонусов вы
          можете узнать на кассах наших магазинов. Бонусы можно использовать
          только для приобретения товаров в наличии, применение бонусов на
          товары "под заказ" не допускается.
        </p>
      </div>
    </div>
  </div>
</section>
