<section class="sect-m _first s-bann">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
      <span class="breadcrumb-separator">
        <i class="icon-next"></i>
      </span>
      <span class="breadcrumb-item _current">Доставка по Казани</span>
    </div>
    <div
      class="s-bann__wrap _offset"
      style="
        background: url(&quot;@img/bann.jpg&quot;) left 0 bottom 0 / cover
          no-repeat;
      "
    >
      <div
        class="s-bann__wrap-mob-bg"
        style="
          background: url(&quot;@img/bann-mob.jpg&quot;) left 0 bottom 0 / cover
            no-repeat;
        "
      ></div>
      <div class="s-bann__info">
        <h1 class="s-title s-bann__title">Доставка по Казани</h1>
        <div class="content-box s-bann__content">
          <p>
            Также как синтетическое тестирование предполагает независимые способы реализации существующих финансовых и административных условий. В целом, конечно, дальнейшее развитие различных форм деятельности требует анализа модели развития.
          </p>
        </div>
      </div>
      <div class="s-bann__adv-grid">
        <div class="s-bann__adv-item">
          <img src="@img/people-icon.svg" alt="icon" class="item-icon">
          <div class="item-title">Время работы службы доставки</div>
          <p class="item-content">Ежедневно с 10:00 до 17:00</p>
        </div>
        <div class="s-bann__adv-item">
          <img src="@img/people-icon.svg" alt="icon" class="item-icon">
          <div class="item-title">Способы оплаты</div>
          <p class="item-content">Оплата на сайте (для физических лиц) или оплата по счету (для юридических лиц)</p>
        </div>
      </div>
    </div>
  </div>
</section>
