<section class="s-cats sect-m">
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper s-cats__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="s-cats__slide-grid">
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="s-cats__slide-grid">
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="s-cats__slide-grid">
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="s-cats__slide-grid">
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="s-cats__slide-grid">
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
              <a href="#" class="card-cat">
                <h3 class="card-cat__title">Садовые принадлежности</h3>
                <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
