<section class="s-catalog sect-m _first">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <span class="breadcrumb-item _current">Каталог товаров</span>
        </div>
        <h2 class="s-title">Каталог товаров</h2>
      </div>
    </div>
    <div class="s-catalog__grid">
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Герметики</h3>
        <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
      </a>
      <a href="#" class="card-cat">
        <h3 class="card-cat__title">Монтажные пены и очистители</h3>
        <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
      </a>
      
    </div>
  </div>
</section>
