<section class="sect-m s-order _first">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">
            <i class="icon-prev"></i>
            <span>Интернет-магазин Колорит</span>
          </a>
        </div>
        <div class="sect-head">
          <h2 class="s-title">Корзина</h2>
        </div>
      </div>
    </div>
    <div class="notification">
      <div class="notification__wrap">
        <div class="notification__info">
          <div class="notification__title">Войдите или зарегистрируйтесь</div>
          <p class="notification__content">
            Вы сможете отслеживать статус заказа, получать и тратить бонусы
          </p>
        </div>
        <div class="notification__btn btn-s _geyser-o">
          Войти или зарегистрироваться
        </div>
      </div>
    </div>
    <div class="s-order__cart">
      <div class="s-order__cart-products">
        <div class="card-cart-product">
          <a href="#" class="card-cart-product__gallery">
            <img src="@img/product-main.png" alt="image" />
          </a>
          <div class="card-cart-product__info">
            <div class="card-cart-product__head">
              <div class="card-cart-product__id">Артикул: 00000122303</div>
              <a href="#" class="card-cart-product__title">
                Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                бесщеточная "ПРОФЕССИОНАЛ" 20В
              </a>
            </div>
            <div class="card-cart-product__price">
              <div class="item-price">18 717 ₽</div>
            </div>
            <div class="card-cart-product__delete">
              <i class="icon-trash"></i>
              <span>Удалить</span>
            </div>
            <div data-counter class="card-cart-product__counter">
              <div
                data-counter-minus
                class="card-cart-product__counter-btn"
              ></div>
              <input
                type="number"
                min="1"
                max="99"
                value="1"
                data-counter-input
                class="card-cart-product__counter-input"
              />
              <div
                data-counter-plus
                class="card-cart-product__counter-btn"
              ></div>
            </div>
          </div>
        </div>
        <div class="card-cart-product">
          <a href="#" class="card-cart-product__gallery">
            <img src="@img/product-main.png" alt="image" />
          </a>
          <div class="card-cart-product__info">
            <div class="card-cart-product__head">
              <div class="card-cart-product__id">Артикул: 00000122303</div>
              <a href="#" class="card-cart-product__title">
                Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                бесщеточная "ПРОФЕССИОНАЛ" 20В
              </a>
            </div>
            <div class="card-cart-product__price">
              <div class="item-old-price">602 ₽</div>
              <div class="item-price">490 ₽</div>
            </div>
            <div class="card-cart-product__delete">
              <i class="icon-trash"></i>
              <span>Удалить</span>
            </div>
            <div data-counter class="card-cart-product__counter">
              <div
                data-counter-minus
                class="card-cart-product__counter-btn"
              ></div>
              <input
                type="number"
                min="1"
                max="99"
                value="1"
                data-counter-input
                class="card-cart-product__counter-input"
              />
              <div
                data-counter-plus
                class="card-cart-product__counter-btn"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-order__sidebar">
        <div class="s-order__sidebar-order">
          <div class="s-order__sidebar-title">Детали заказа</div>
          <ul class="list s-order__sidebar-list">
            <li>
              <span class="item-name">2 товара</span>
              <span class="item-line"></span>
              <span class="item-val">19 319 ₽</span>
            </li>
            <li>
              <span class="item-name">Скидка</span>
              <span class="item-line"></span>
              <span class="item-val">-112 ₽</span>
            </li>
          </ul>
          <div class="s-order__sidebar-result">
            <span class="item-name">Итого</span>
            <span class="item-line"></span>
            <span class="item-val">19 207 ₽</span>
          </div>
          <div class="s-order__sidebar-bonuse">
            <div class="item-primary">+14 бонусных балов</div>
            <div class="item-text">на следующие покупки</div>
          </div>
          <a href="#" class="btn-s s-order__sidebar-btn">Перейти к оформлению</a>
          <p class="s-order__sidebar-text">Дата и стоимость доставки определяются при оформлении заказа</p>
        </div>
      </div>
    </div>
  </div>
</section>
