<section class="sect-m s-order _first">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">
            <i class="icon-prev"></i>
            <span>Интернет-магазин Колорит</span>
          </a>
        </div>
        <div class="sect-head">
          <h2 class="s-title">Корзина</h2>
        </div>
      </div>
    </div>
    <div class="s-order__wrap">
      <div class="s-order__main">
        <div class="tabs s-order__checkout">
          <div class="s-order__checkout-tabs-nav tabs-nav">
            <div data-tab-btn="tab-0" class="btn-m _outline _active">
              Физическое лицо
            </div>
            <div data-tab-btn="tab-1" class="btn-m _outline">
              Юридическое лицо
            </div>
          </div>
          <div class="tabs-content">
            <div data-tab="tab-0" class="_active _show">
              <div class="s-order__checkout-grid">
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">Плательщик</div>
                  <div class="s-order__checkout-block-inputs">
                    <div class="form-control">
                      <div class="input-name">Имя</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Телефон</div>
                      <input required type="tel" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Email</div>
                      <input required type="email" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Телефон</div>
                      <div class="input-wrap">
                        <div class="input-placeholder">
                          <i class="icon-search"></i>
                          <span>Введите название...</span>
                        </div>
                        <input required type="text" class="input" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">
                    Способ получения
                  </div>
                  <div class="s-order__checkout-choice">
                    <label class="choice-item">
                      <input
                        type="radio"
                        checked
                        name="method-method"
                        class="input"
                      />
                      <div class="item-body">
                        <div class="item-title">Стандартная доставка</div>
                        <p class="item-text">
                          26.07.2026 и позже.
                          <br />
                          от 1500 руб. Согласовывается с менеджером.
                        </p>
                      </div>
                    </label>
                    <label class="choice-item">
                      <input type="radio" name="method-method" class="input" />
                      <div class="item-body">
                        <div class="item-title">Самовывоз</div>
                        <p class="item-text">
                          Вы можете забрать заказ в течение 3х дней в одном из
                          пунктов выдачи.
                          <br />
                          Самовывоз работает в городе Казань
                        </p>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">
                    Укажите адрес доставки
                  </div>
                  <div class="s-order__checkout-block-inputs">
                    <div class="form-control">
                      <div class="input-name">Улица</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Дом</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Квартира</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Дата доставки</div>
                      <div class="input-wrap">
                        <input required type="text" class="input _date" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">
                    Способ получения
                  </div>
                  <div class="s-order__checkout-choice">
                    <label class="choice-item">
                      <input
                        type="radio"
                        checked
                        name="method-pay"
                        class="input"
                      />
                      <div class="item-body">
                        <div class="item-title">Оплата картой</div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab="tab-1">
              <div class="s-order__checkout-grid">
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">Плательщик</div>
                  <div class="s-order__checkout-block-inputs">
                    <div class="form-control">
                      <div class="input-name">Имя</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Телефон</div>
                      <input required type="tel" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Email</div>
                      <input required type="email" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Телефон</div>
                      <div class="input-wrap">
                        <div class="input-placeholder">
                          <i class="icon-search"></i>
                          <span>Введите название...</span>
                        </div>
                        <input required type="text" class="input" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">
                    Способ получения
                  </div>
                  <div class="s-order__checkout-choice">
                    <label class="choice-item">
                      <input
                        type="radio"
                        checked
                        name="method-method"
                        class="input"
                      />
                      <div class="item-body">
                        <div class="item-title">Стандартная доставка</div>
                        <p class="item-text">
                          26.07.2026 и позже.
                          <br />
                          от 1500 руб. Согласовывается с менеджером.
                        </p>
                      </div>
                    </label>
                    <label class="choice-item">
                      <input type="radio" name="method-method" class="input" />
                      <div class="item-body">
                        <div class="item-title">Самовывоз</div>
                        <p class="item-text">
                          Вы можете забрать заказ в течение 3х дней в одном из
                          пунктов выдачи.
                          <br />
                          Самовывоз работает в городе Казань
                        </p>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">
                    Укажите адрес доставки
                  </div>
                  <div class="s-order__checkout-block-inputs">
                    <div class="form-control">
                      <div class="input-name">Улица</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Дом</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Квартира</div>
                      <input required type="text" class="input" />
                    </div>
                    <div class="form-control">
                      <div class="input-name">Дата доставки</div>
                      <div class="input-wrap">
                        <input required type="text" class="input _date" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="s-order__checkout-block">
                  <div class="s-order__checkout-block-title">
                    Способ получения
                  </div>
                  <div class="s-order__checkout-choice">
                    <label class="choice-item">
                      <input
                        type="radio"
                        checked
                        name="method-pay"
                        class="input"
                      />
                      <div class="item-body">
                        <div class="item-title">Оплата картой</div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-order__sidebar">
        <div class="s-order__sidebar-details">
          <div class="s-order__sidebar-title">Детали заказа</div>
          <ul class="list s-order__sidebar-list">
            <li>
              <a href="#">
                Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                бесщеточная "ПРОФЕССИОНАЛ" 20В
              </a>
              <div class="item-body">
                <span class="item-count">1 шт.</span>
                <span class="item-price">18 717 ₽</span>
              </div>
            </li>
            <li>
              <a href="#">
                Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                бесщеточная "ПРОФЕССИОНАЛ" 20В
              </a>
              <div class="item-body">
                <span class="item-count">1 шт.</span>
                <span class="item-price">490 ₽</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="s-order__sidebar-order">
          <ul class="list s-order__sidebar-list">
            <li>
              <span class="item-name">Сумма заказа</span>
              <span class="item-line"></span>
              <span class="item-val">19 319 ₽</span>
            </li>
            <li>
              <span class="item-name">Доставка</span>
              <span class="item-line"></span>
              <span class="item-val">700 ₽</span>
            </li>
          </ul>
          <div class="s-order__sidebar-result">
            <span class="item-name">Итого</span>
            <span class="item-line"></span>
            <span class="item-val">19 207 ₽</span>
          </div>
          <div class="s-order__sidebar-bonuse _full _text-start">
            <div class="s-order__sidebar-bonuse-nav">
              <label class="check-item">
                <input type="checkbox" id="checkout-bonuse-input" />
                <span>Использовать бонусы</span>
              </label>
              <div
                class="s-order__sidebar-bonuse-count"
                id="checkout-bonuse-count"
              >
                48
              </div>
            </div>
            <ul class="list simple-list s-order__sidebar-bonuse-list">
              <li>
                <span class="item-name">Накоплено бонусов</span>
                <span class="item-line"></span>
                <span class="item-val">1 514</span>
              </li>
              <li>
                <span class="item-name">
                  Доступно к списанию в рамках заказа
                </span>
                <span class="item-line"></span>
                <span class="item-val">48</span>
              </li>
            </ul>
            <p class="s-order__sidebar-bonuse-info">
              1 бонус равен 100 ₽
              <br />
              Используя бонусы, можно получить скидку не более 25% стоимости
              заказа.
            </p>
          </div>
          <a href="#" class="btn-s s-order__sidebar-btn">Оплатить заказ</a>
        </div>
      </div>
    </div>
  </div>
</section>
