<section class="sect-m s-clients">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши клиенты</h2>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>

      <div class="swiper s-clients__slider">
        <div class="swiper-wrapper">
          <article class="swiper-slide s-clients__slide">
            <div class="s-clients__slide-gallery">
              <img src="@img/clients.jpg" alt="image" class="s-clients__slide-img" />
              <div class="item-logo">
                <img src="@img/partner-1.png" alt="logo" />
              </div>
            </div>
            <div class="s-clients__slide-body">
              <div class="s-clients__slide-type">Группа компаний</div>
              <h3 class="s-clients__slide-title">ООО “Застройщик Казань”</h3>
              <p class="s-clients__slide-content">
                Мы вынуждены отталкиваться от того, что граница обучения кадров
                в значительной степени обусловливает важность прогресса
                профессионального сообщества. Также как внедрение современных
                методик играет важную роль в формировании дальнейших направлений
                развития.
              </p>
            </div>
          </article>
          <article class="swiper-slide s-clients__slide">
            <div class="s-clients__slide-gallery">
              <img src="@img/clients.jpg" alt="image" class="s-clients__slide-img" />
              <div class="item-logo">
                <img src="@img/partner-1.png" alt="logo" />
              </div>
            </div>
            <div class="s-clients__slide-body">
              <div class="s-clients__slide-type">Группа компаний</div>
              <h3 class="s-clients__slide-title">ООО “Застройщик Казань”</h3>
              <p class="s-clients__slide-content">
                Мы вынуждены отталкиваться от того, что граница обучения кадров
                в значительной степени обусловливает важность прогресса
                профессионального сообщества. Также как внедрение современных
                методик играет важную роль в формировании дальнейших направлений
                развития.
              </p>
            </div>
          </article>
          <article class="swiper-slide s-clients__slide">
            <div class="s-clients__slide-gallery">
              <img src="@img/clients.jpg" alt="image" class="s-clients__slide-img" />
              <div class="item-logo">
                <img src="@img/partner-1.png" alt="logo" />
              </div>
            </div>
            <div class="s-clients__slide-body">
              <div class="s-clients__slide-type">Группа компаний</div>
              <h3 class="s-clients__slide-title">ООО “Застройщик Казань”</h3>
              <p class="s-clients__slide-content">
                Мы вынуждены отталкиваться от того, что граница обучения кадров
                в значительной степени обусловливает важность прогресса
                профессионального сообщества. Также как внедрение современных
                методик играет важную роль в формировании дальнейших направлений
                развития.
              </p>
            </div>
          </article>
          <article class="swiper-slide s-clients__slide">
            <div class="s-clients__slide-gallery">
              <img src="@img/clients.jpg" alt="image" class="s-clients__slide-img" />
              <div class="item-logo">
                <img src="@img/partner-1.png" alt="logo" />
              </div>
            </div>
            <div class="s-clients__slide-body">
              <div class="s-clients__slide-type">Группа компаний</div>
              <h3 class="s-clients__slide-title">ООО “Застройщик Казань”</h3>
              <p class="s-clients__slide-content">
                Мы вынуждены отталкиваться от того, что граница обучения кадров
                в значительной степени обусловливает важность прогресса
                профессионального сообщества. Также как внедрение современных
                методик играет важную роль в формировании дальнейших направлений
                развития.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
