<section class="sect-m s-control">
  <div class="container">
    <div class="s-control__wrap">
      <div class="s-control__info">
        <h2 class="s-title s-control__title">Контролируйте заказы в личном кабинете</h2>
        <ul class="list s-control__list">
          <li>
            <img src="@img/control-icon.svg" alt="icon">
            <span>История заказов</span>
          </li>
          <li>
            <img src="@img/control-icon.svg" alt="icon">
            <span>Контроль статуса заказов</span>
          </li>
        </ul>
      </div>
      <picture class="s-control__img">
        <img src="@img/control.jpg" alt="image">
      </picture>
    </div>
  </div>
</section>