<section class="s-delivery sect-m">
  <div class="container">
    <div class="s-delivery__item">
      <div class="s-delivery__item-wrap">
        <div class="s-delivery__info">
          <h2 class="s-title">Стоимость удаленной доставки</h2>
          <div class="content-box s-delivery__content">
            <p>
              Стоимость услуг по доставке в населенные пункты, находящиеся за
              административной границей города Казани, производится из расчета
              стоимости Зоны 1 + 27 руб./км (оплачивается километраж от границы
              Зоны 1 до клиента, в обе стороны), но не далее, чем 50 км от
              границ г. Казани. Учитывается пробег в оба конца пути.
            </p>
          </div>
        </div>
        <div class="s-delivery__item-gallery">
          <img
            src="@img/delivery-circle.png"
            alt="image"
            class="s-delivery__img"
          />
        </div>
      </div>
    </div>
    <div class="s-delivery__item">
      <div class="sect-wrap _catskill">
        <div class="s-delivery__item-wrap">
          <div class="s-delivery__item-gallery">
            <img
              src="@img/delivery-2.png"
              alt="image"
              class="s-delivery__img"
            />
          </div>
          <div class="s-delivery__info">
            <h2 class="s-title">Условия бесплатной доставки</h2>
            <div class="content-box s-delivery__content">
              <p>
                Бесплатная доставка возможна при покупке товара через розничные
                магазины на сумму более 10 000 руб., с учетом всех скидок и
                акций на товар, на следующий день, в пределах города Казани. Вес
                товара, оформленного на доставку, не должен превышать 1500 кг/10
                м куб.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
