<section class="sect-m s-faq">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Частые вопросы</h2>
    </div>
    <div data-spollers class="s-faq__grid">
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Не следует забывать, что небо темнеет!</span>
          <div class="item-circle">
            <i class="icon-bottom"></i>
          </div>
        </div>
        <div>
          <div class="s-faq__spoller-content content-box">
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Никто не вправе осуждать грохот грома грядущих изменений</span>
          <div class="item-circle">
            <i class="icon-bottom"></i>
          </div>
        </div>
        <div>
          <div class="s-faq__spoller-content content-box">
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Франция намерена исследовать, почему кровь стынет в жилах</span>
          <div class="item-circle">
            <i class="icon-bottom"></i>
          </div>
        </div>
        <div>
          <div class="s-faq__spoller-content content-box">
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Современная методология разработки разочаровала</span>
          <div class="item-circle">
            <i class="icon-bottom"></i>
          </div>
        </div>
        <div>
          <div class="s-faq__spoller-content content-box">
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
          </div>
        </div>
      </div>
            <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Франция намерена исследовать, почему кровь стынет в жилах</span>
          <div class="item-circle">
            <i class="icon-bottom"></i>
          </div>
        </div>
        <div>
          <div class="s-faq__spoller-content content-box">
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Современная методология разработки разочаровала</span>
          <div class="item-circle">
            <i class="icon-bottom"></i>
          </div>
        </div>
        <div>
          <div class="s-faq__spoller-content content-box">
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
            <p>
              Прежде всего, постоянный количественный рост и сфера нашей
              активности не оставляет шанса для поставленных обществом задач.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
