<section class="sect-m s-features">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши ценности</h2>
    </div>
    <div class="s-features__grid">
      <article class="s-features__item">
        <h3 class="s-features__item-title">Клиент</h3>
        <p class="s-features__item-content">
          В частности, повышение уровня гражданского сознания прекрасно подходит
          для реализации форм воздействия.
        </p>
        <img src="@img/feature.jpg" alt="image" class="s-features__item-img">
      </article>
      <article class="s-features__item">
        <h3 class="s-features__item-title">Команда</h3>
        <p class="s-features__item-content">
          Приятно, граждане, наблюдать, как непосредственные участники
          технического прогресса разоблачены.
        </p>
        <img src="@img/feature.jpg" alt="image" class="s-features__item-img">
      </article>
      <article class="s-features__item">
        <h3 class="s-features__item-title">Эффективность</h3>
        <p class="s-features__item-content">
          Но явные признаки победы институционализации, инициированные
          исключительно синтетически, описаны максимально подробно.
        </p>
        <img src="@img/feature.jpg" alt="image" class="s-features__item-img">
      </article>
    </div>
  </div>
</section>
