<section class="sect-m s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наша команда</h2>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper s-gallery__slider">
        <div class="swiper-wrapper">
          <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
