<section class="s-hero sect-m">
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper s-hero__slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide s-hero__slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 576px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </a>
          <a href="#" class="swiper-slide s-hero__slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 576px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </a>
          <a href="#" class="swiper-slide s-hero__slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 576px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </a>
          <a href="#" class="swiper-slide s-hero__slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 576px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
