<section class="sect-m s-info">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">История развития</h2>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper s-info__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-body">
              <div class="s-info__slide-num">1995</div>
              <div class="content-box s-info__slide-content">
                <p>
                  В частности, повышение уровня гражданского сознания прекрасно
                  подходит для реализации форм воздействия.
                </p>
              </div>
            </div>
            <img src="@img/info.jpg" alt="image" class="s-info__slide-img" />
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-body">
              <div class="s-info__slide-num">2001</div>
              <div class="content-box s-info__slide-content">
                <p>
                  В частности, повышение уровня гражданского сознания прекрасно
                  подходит для реализации форм воздействия. Приятно, граждане,
                  наблюдать, как непосредственные участники технического
                  прогресса разоблачены.
                </p>
              </div>
            </div>
            <img src="@img/info.jpg" alt="image" class="s-info__slide-img" />
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-body">
              <div class="s-info__slide-num">1995</div>
              <div class="content-box s-info__slide-content">
                <p>
                  В частности, повышение уровня гражданского сознания прекрасно
                  подходит для реализации форм воздействия.
                </p>
              </div>
            </div>
            <img src="@img/info.jpg" alt="image" class="s-info__slide-img" />
          </div>
          <div class="swiper-slide s-info__slide">
            <div class="s-info__slide-body">
              <div class="s-info__slide-num">2001</div>
              <div class="content-box s-info__slide-content">
                <p>
                  В частности, повышение уровня гражданского сознания прекрасно
                  подходит для реализации форм воздействия. Приятно, граждане,
                  наблюдать, как непосредственные участники технического
                  прогресса разоблачены.
                </p>
              </div>
            </div>
            <img src="@img/info.jpg" alt="image" class="s-info__slide-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
