<section
  class="s-intro"
  style="background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat"
>
  <video src="./files/video.mp4" autoplay muted playsinline loop class="video-bg"></video>
  <div class="container">
    <div class="breadcrumbs _white">
      <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
      <span class="breadcrumb-separator">
        <i class="icon-next"></i>
      </span>
      <span class="breadcrumb-item _current">О компании «Колорит»</span>
    </div>
  </div>
  <div class="container">
    <div class="s-intro__body">
      <h1 class="s-title s-intro__title">О компании «Колорит»</h1>
      <div class="content-box s-intro__content">
        <p>
          Мы Ваши старые добрые знакомые с самого детства, аж с 1995 года,
          теперь мы выросли, приобрели опыт, и можем решить многие Ваши проблемы
          в ремонте и строительстве. Нас много (12 магазинов) и мы всегда рядом
          (охватили весь город, и не только).
        </p>
      </div>
    </div>
  </div>
</section>
