<section class="sect-m s-looking">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Часто ищут</h2>
    </div>
    <div class="s-looking__wrap">
      <a href="#" class="btn-m _catskill">Пены, герметики, клеи</a>
      <a href="#" class="btn-m _catskill">Клей для теплоизоляции</a>
      <a href="#" class="btn-m _catskill">Монтажные пены и очистители</a>
      <a href="#" class="btn-m _catskill">Герметики</a>
      <a href="#" class="btn-m _catskill">Клеи</a>
      <a href="#" class="btn-m _catskill">Жидкие гвозди</a>
      <a href="#" class="btn-m _catskill">Обойные клеи</a>
      <a href="#" class="btn-m _catskill">Жидкое стекло</a>
      <a href="#" class="btn-m _catskill">Клей для теплоизоляции</a>
    </div>
  </div>
</section>