<section class="sect-m s-partners">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши партнеры</h2>
    </div>
    <div class="content-box s-partners__content">
      <p>
        Нам помогают производители различных товаров – краски, строительные
        смеси, герметики и монтажные пены, вентиляция, инструменты, сантехника и
        сантехарматура, электроинструменты, электротовары и многие другие.
      </p>
    </div>

    <div class="slider-wrapper s-partners__slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper s-partners__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-1.png" alt="image" />
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner-2.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
