<section class="sect-m s-price">
  <div class="container">
    <div class="s-price__wrap">
      <img src="@img/price.png" alt="image" class="s-price__img">
      <div class="s-price__main">
        <h2 class="s-title s-price__title">Стоимость доставки в границах г. Казани</h2>
        <table class="s-price__table">
          <thead>
            <tr>
              <th>Вес заказа</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>до 100 кг</td>
              <td>300 руб.</td>
            </tr>
            <tr>
              <td>100-300 кг</td>
              <td>350 руб.</td>
            </tr>
            <tr>
              <td>до 100 кг</td>
              <td>300 руб.</td>
            </tr>
            <tr>
              <td>100-300 кг</td>
              <td>350 руб.</td>
            </tr>
            <tr>
              <td>до 100 кг</td>
              <td>300 руб.</td>
            </tr>
            <tr>
              <td>100-300 кг</td>
              <td>350 руб.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>