<section class="sect-m _first s-product">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <a href="#" class="breadcrumb-item">Каталог товаров</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <a href="#" class="breadcrumb-item">Пены, герметики, клеи</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <span class="breadcrumb-item _current">Клей для теплоизоляции</span>
        </div>
        <h1 data-da=".s-product__sidebar-body, 1026, 0" class="s-title">
          Клей-пена KUDO унив. монт. всесез. КЛЕИТ ВСЕ X6+ 650 мл
        </h1>
      </div>
    </div>
    <div class="s-product__wrap">
      <div class="s-product__main">
        <div class="s-product__main-wrap">
          <div class="s-product__gallery">
            <div class="s-product__thumb-wrap">
              <div class="s-product__thumb-arrow _prev">
                <i class="icon-top"></i>
              </div>
              <div class="s-product__thumb-slider swiper">
                <div class="swiper-wrapper">
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                  <div
                    class="swiper-slide s-product__thumb-slide"
                    style="
                      background: url(&quot;@img/product-main.png&quot;)
                        center / cover no-repeat;
                    "
                  ></div>
                </div>
              </div>
              <div class="s-product__thumb-arrow _next">
                <i class="icon-bottom"></i>
              </div>
            </div>
            <div class="s-product__slider swiper">
              <div class="swiper-wrapper">
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
                <a
                  href="@img/product-main.png"
                  data-fancybox="product"
                  class="swiper-slide s-product__slide"
                >
                  <img src="@img/product-main.png" alt="image" />
                </a>
              </div>
            </div>
            <div class="slider-pagination _lap-middle"></div>
          </div>
          <div class="s-product__info">
            <div data-toggle-container class="s-product__info-block">
              <ul class="list s-product__info-list">
                <li data-toggle-item>
                  <span class="item-name">Артикул</span>
                  <div class="item-line"></div>
                  <span class="item-val">00000122303</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Фасовка</span>
                  <div class="item-line"></div>
                  <span class="item-val">650 мл</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Торговая марка</span>
                  <div class="item-line"></div>
                  <span class="item-val">KUDO</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Артикул</span>
                  <div class="item-line"></div>
                  <span class="item-val">00000122303</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Фасовка</span>
                  <div class="item-line"></div>
                  <span class="item-val">650 мл</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Торговая марка</span>
                  <div class="item-line"></div>
                  <span class="item-val">KUDO</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Артикул</span>
                  <div class="item-line"></div>
                  <span class="item-val">00000122303</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Торговая марка</span>
                  <div class="item-line"></div>
                  <span class="item-val">KUDO</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Артикул</span>
                  <div class="item-line"></div>
                  <span class="item-val">00000122303</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Торговая марка</span>
                  <div class="item-line"></div>
                  <span class="item-val">KUDO</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Артикул</span>
                  <div class="item-line"></div>
                  <span class="item-val">00000122303</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Торговая марка</span>
                  <div class="item-line"></div>
                  <span class="item-val">KUDO</span>
                </li>
                <li data-toggle-item>
                  <span class="item-name">Артикул</span>
                  <div class="item-line"></div>
                  <span class="item-val">00000122303</span>
                </li>
              </ul>
              <div data-toggle-btn="Скрыть" class="s-product__info-toggle">
                Все характеристики
              </div>
            </div>
            <div data-toggle-container class="s-product__info-block">
              <div
                data-toggle-text="10"
                class="content-box s-product__info-content"
              >
                <p>
                  Однокомпонентный полиуретановый вспенивающийся клей разработан
                  в соответствии с системой VARIO SMART CELL, позволяющей
                  управлять адгезионными свойствами клеевых составов и
                  использовать их максимально эффективно. Характеризуется низким
                  расширением, не деформирует склеиваемые элементы. Имеет
                  высокую адгезию к большинству строительных материалов, за
                  исключением полиэтилена, полипропилена и тефлона.
                </p>
                <p>
                  Однокомпонентный полиуретановый вспенивающийся клей разработан
                  в соответствии с системой VARIO SMART CELL, позволяющей
                  управлять адгезионными свойствами клеевых составов и
                  использовать их максимально эффективно. Характеризуется низким
                  расширением, не деформирует склеиваемые элементы. Имеет
                  высокую адгезию к большинству строительных материалов, за
                  исключением полиэтилена, полипропилена и тефлона.
                </p>
              </div>
              <div data-toggle-btn="Скрыть" class="s-product__info-toggle">
                Подробное описание
              </div>
            </div>
          </div>
        </div>
        <div class="s-product__content">
          <div class="s-product__content-nav anchors">
            <a href="#about-product" class="s-product__content-nav-btn _active">
              О товаре
            </a>
            <a href="#spec-product" class="s-product__content-nav-btn">
              Характеристики
            </a>
            <a href="#reviews-product" class="s-product__content-nav-btn">
              Отзывы
            </a>
            <a href="#useful-product" class="s-product__content-nav-btn">
              Может понадобиться
            </a>
          </div>
          <div
            data-toggle-container
            class="s-product__content-block"
            id="about-product"
          >
            <div class="s-product__content-block-head">
              <h2 class="s-title">О товаре</h2>
            </div>
            <div
              data-toggle-text="11"
              class="content-box s-product__content-text"
            >
              <p>
                Клей-пена KUDO КЛЕИТ ВСЕ X6+ универсальная монтажная всесезонная
                650 мл
              </p>
              <p>
                Однокомпонентный полиуретановый вспенивающийся клей разработан в
                соответствии с системой VARIO SMART CELL, позволяющей управлять
                адгезионными свойствами клеевых составов и использовать их
                максимально эффективно.
                <br />
                Характеризуется низким расширением, не деформирует склеиваемые
                элементы.
                <br />
                Имеет высокую адгезию к большинству строительных материалов, за
                исключением полиэтилена, полипропилена и тефлона.
              </p>
              <p>
                Рекомендуется для приклеивания гипсокартона, OSB-плит, черепицы,
                легких декоративных элементов, подоконников, утеплителей
                различных видов на бетонные, кирпичные, каменные, металлические,
                оштукатуренные, битумные и деревянные поверхности.
                <br />
                Идеально подходит для сборки деревянных конструкций и кладки
                ячеистых блоков в ненесущих перегородках.
                <br />
                Для большинства материалов не требует грунтования.
                <br />
                Не подходит для приклеивания зеркал, изделий из полиэтилена,
                полипропилена, тефлона, силикона.
                <br />
                Существенно ускоряет отделочные работы, экономичен и прост в
                использовании.
                <br />
                Аэрозольная форма выпуска обеспечивает комфорт и чистоту при
                работе.
              </p>
              <p><strong>Преимущества</strong></p>
              <p>
                Экономия и эффективность: 1 баллон заменяет 6 картриджей (310
                мл) строительного клея «жидкие гвозди», при этом X6+ в несколько
                раз дешевле.
                <br />
                Выход из 1 баллона – около 75 метров клея-пены при диаметре
                жгута 10 мм*.
              </p>
              <p>
                Производительность: замена и подготовка к работе 6 картриджей
                строительного клея занимает около 9 минут, а баллона клея-пены –
                20 секунд.
              </p>
              <p>
                Простота применения: клей-пена полностью готов к применению, не
                требует специального инструмента и приготовления клеящей смеси.
                <br />
                Эвакуация клея-пены из баллона, в отличие от клея в картриджах,
                происходит за счет газа-вытеснителя и не требует физических
                усилий.
              </p>
              <p>
                Время монтажных работ сокращается на 30-40% в сравнении с
                традиционной технологией.
              </p>
              <p>Для большинства материалов не требует грунтования.</p>
              <p>
                Равномерное отверждение по всему объему клеевого слоя.
                <br />
                Структурная прочность через 1 час, полное отверждение – за 12-24
                часа*.
              </p>
              <p>
                Не содержит вредных растворителей и наполнителей.
                <br />
                В отвержденном виде экологически безопасен.
              </p>
              <p>Цвет белый</p>
              <p>* При температуре +23°С и относительной влажности 50%.</p>
              <p><strong>Применение</strong></p>
              <p>
                Оптимальная температура применения +18°С÷27°С, относительная
                влажность воздуха не менее 50%.
                <br />
                Допускается применение при температуре воздуха и основания от
                –10°С до +35°С.
                <br />
                Температура баллона +18°С÷27°С.
              </p>
              <p>
                Склеиваемые поверхности должны соответствовать требованиям
                нормативной документации изготовителя системы теплоизоляции и
                тщательно очищены от пыли, грязи, жира, льда и инея.
              </p>
              <p>Рабочее положение баллона – ДНОМ ВВЕРХ.</p>
              <p>
                Снять защитный колпак.
                <br />
                Навинтить на клапан баллона адаптер с полиэтиленовой трубкой.
                <br />
                Тщательно встряхнуть баллон не менее 15 раз в течение 30 секунд.
                <br />
                Клей-пену наносить на одну из склеиваемых поверхностей, при
                температуре окружающей среды выше 0°С для улучшения адгезии
                поверхности увлажнить.
                <br />
                В зависимости от размера склеиваемых поверхностей клей-пену
                наносить жгутом диаметром 10-30 мм по периметру на расстоянии
                3-4 см от края.
                <br />
                Выждать 4 минуты и соединить склеиваемые поверхности, с усилием
                прижав их друг к другу.
                <br />
                Избыток клея после полного затвердевания срезать ножом.
                <br />
                Незатвердевший клей удалить «Очистителем монтажной пены FOAM&GUN
                CLEANER» KUDO®.
                <br />
                Для отвержденного клея использовать «Удалитель застывшей
                монтажной пены FOAM REMOVER» KUDO®.
              </p>
              <p>
                Беречь от воздействия УФ-лучей и атмосферных осадков.
                <br />
                <strong>Внимание!</strong>
                В разных климатических условиях могут изменяться параметры
                склеивания.
                <br />
                Перед началом работ рекомендуется провести пробное приклеивание.
              </p>
            </div>
            <div
              data-toggle-btn="Скрыть"
              data-start-text="Показать еще"
              class="s-product__more-btn s-product__content-more-btn"
            >
              <div class="item-wrap">
                <span data-toggle-btn-text>Показать еще</span>
                <i class="icon-bottom"></i>
              </div>
            </div>
          </div>
          <div
            data-toggle-container
            class="s-product__content-block"
            id="spec-product"
          >
            <div class="s-product__content-block-head">
              <h2 class="s-title">Характеристики</h2>
            </div>
            <ul class="list simple-list s-product__content-spec">
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <span class="item-line"></span>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <span class="item-line"></span>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <span class="item-line"></span>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <span class="item-line"></span>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <span class="item-line"></span>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <span class="item-line"></span>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <span class="item-line"></span>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <span class="item-line"></span>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <span class="item-line"></span>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <span class="item-line"></span>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <span class="item-line"></span>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <span class="item-line"></span>
                <span class="item-val">650 мл</span>
              </li>
            </ul>
            <div
              data-toggle-btn="Скрыть"
              data-start-text="Показать еще"
              class="s-product__more-btn s-product__content-more-btn"
            >
              <div class="item-wrap">
                <span data-toggle-btn-text>Показать еще</span>
                <i class="icon-bottom"></i>
              </div>
            </div>
            <div class="content-box s-product__spec-content-box">
              <p>
                Информация о технических характеристиках, комплекте поставки и
                внешнем виде, может отличаться от указанной на сайте. Уточняйте
                эту информацию у менеджера при оформлении заявки. Если вы
                заметили ошибку или неточность в описании, пожалуйста, сообщите
                нам об этом по адресу
                <a href="mailto:semenov.v@kolorit.ru">semenov.v@kolorit.ru</a>
              </p>
            </div>
          </div>
          <div class="s-product__content-block" id="reviews-product">
            <div class="s-product__content-block-head">
              <div class="s-product__content-block-head-wrap">
                <h2 class="s-title">Отзывы</h2>
                <div class="s-product__content-block-head-text">591 отзыв</div>
              </div>
              <a href="#modal-review" data-fancybox class="btn-s">
                Оставить свой отзыв
              </a>
            </div>
            <div class="s-product__reviews">
              <div class="s-product__reviews-item">
                <div class="s-product__reviews-item-head">
                  <div class="s-product__reviews-item-title">Константин Иванов</div>
                  <div class="s-product__reviews-item-stars">
                    <i class="icon-star _primary"></i>
                    <i class="icon-star _primary"></i>
                    <i class="icon-star _primary"></i>
                    <i class="icon-star _primary"></i>
                    <i class="icon-star"></i>
                  </div>
                  <div class="s-product__reviews-item-date">01.09.2023</div>
                </div>
                <div data-toggle-container class="s-product__reviews-item-body">
                  <div data-toggle-text="6" class="content-box s-product__reviews-item-content">
                    <p>
                      Равным образом, разбавленное изрядной долей эмпатии,
                      рациональное мышление требует определения и уточнения как
                      самодостаточных, так и внешне зависимых концептуальных
                      решений. Кстати, тщательные исследования конкурентов
                      призваны к ответу. Кстати, тщательные исследования
                      конкурентов призваны к ответу.
                    </p>
                  </div>
                  <div data-toggle-btn="Скрыть" data-start-text="Подробнее" class="s-product__reviews-item-more">
                    <span data-toggle-btn-text>Подробнее</span>
                    <i class="icon-bottom"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-da=".s-product__main,1025,1" class="s-product__sidebar">
        <div class="s-product__sidebar-body">
          <div class="s-product__sidebar-text">Начислим 4 бонуса</div>
          <div class="s-product__sidebar-price">
            <div class="item-price">490 ₽</div>
            <div class="item-old-price">602 ₽</div>
            <div class="item-discount">-19%</div>
          </div>
          <div class="s-product__sidebar-buttons">
            <div class="btn-s">
              <i class="icon-cart"></i>
              <span>В корзину</span>
            </div>
            <div class="btn-s _geyser">
              <i class="icon-blur-arrow"></i>
              <span>Заказ в один клик</span>
            </div>
          </div>
        </div>
        <div data-toggle-container class="s-product__sidebar-list-wrap">
          <div class="s-product__sidebar-list-title">
            <i class="icon-location"></i>
            <span>В наличии в 11 магазинах</span>
          </div>
          <ul class="list s-product__sidebar-list">
            <li data-toggle-item>
              <a href="#">г. Казань, Техническая, 60</a>
              <div class="item-line"></div>
              <span>7 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Фрунзе, 17</a>
              <div class="item-line"></div>
              <span>12 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Магистральная, 77</a>
              <div class="item-line"></div>
              <span>10 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Ленинградская, 22</a>
              <div class="item-line"></div>
              <span>9 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Техническая, 60</a>
              <div class="item-line"></div>
              <span>7 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Фрунзе, 17</a>
              <div class="item-line"></div>
              <span>12 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Магистральная, 77</a>
              <div class="item-line"></div>
              <span>10 шт.</span>
            </li>
            <li data-toggle-item>
              <a href="#">г. Казань, Ленинградская, 22</a>
              <div class="item-line"></div>
              <span>9 шт.</span>
            </li>
          </ul>
          <div
            data-toggle-btn="Скрыть"
            data-start-text="Показать еще"
            class="s-product__more-btn"
          >
            <div class="item-wrap">
              <span data-toggle-btn-text>Показать еще</span>
              <i class="icon-bottom"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
