<section class="sect-m _first s-product">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <a href="#" class="breadcrumb-item">Каталог товаров</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <a href="#" class="breadcrumb-item">Пены, герметики, клеи</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <span class="breadcrumb-item _current">Клей для теплоизоляции</span>
        </div>
        <h2 class="s-title">
          Клей-пена KUDO унив. монт. всесез. КЛЕИТ ВСЕ X6+ 650 мл
        </h2>
      </div>
    </div>
    <div class="s-product__wrap">
      <div class="s-product__main">
        <div class="s-product__gallery">
          <div class="s-product__thumb-wrap">
            <div class="s-product__thumb-slider swiper">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
                <div
                  class="swiper-slide s-product__thumb-slide"
                  style="
                    background: url(&quot;@img/product-main.png&quot;) center /
                      cover no-repeat;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div class="s-product__slider swiper">
            <div class="swiper-wrapper">
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
              <a
                href="@img/product-main.png"
                data-fancybox="product"
                class="swiper-slide s-product__slide"
              >
                <img src="@img/product-main.png" alt="image" />
              </a>
            </div>
          </div>
        </div>
        <div class="s-product__info">
          <div data-toggle-container class="s-product__info-block">
            <ul class="list s-product__info-list">
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <div class="item-line"></div>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <div class="item-line"></div>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Торговая марка</span>
                <div class="item-line"></div>
                <span class="item-val">KUDO</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <div class="item-line"></div>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Фасовка</span>
                <div class="item-line"></div>
                <span class="item-val">650 мл</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Торговая марка</span>
                <div class="item-line"></div>
                <span class="item-val">KUDO</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <div class="item-line"></div>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Торговая марка</span>
                <div class="item-line"></div>
                <span class="item-val">KUDO</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <div class="item-line"></div>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Торговая марка</span>
                <div class="item-line"></div>
                <span class="item-val">KUDO</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <div class="item-line"></div>
                <span class="item-val">00000122303</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Торговая марка</span>
                <div class="item-line"></div>
                <span class="item-val">KUDO</span>
              </li>
              <li data-toggle-item>
                <span class="item-name">Артикул</span>
                <div class="item-line"></div>
                <span class="item-val">00000122303</span>
              </li>
            </ul>
            <div data-toggle-btn="Скрыть" class="s-product__info-toggle">
              Все характеристики
            </div>
          </div>
          <div data-toggle-container class="s-product__info-block">
            <div data-toggle-text="10" class="content-box s-product__info-content">
              <p>
                Однокомпонентный полиуретановый вспенивающийся клей разработан в
                соответствии с системой VARIO SMART CELL, позволяющей управлять
                адгезионными свойствами клеевых составов и использовать их
                максимально эффективно. Характеризуется низким расширением, не
                деформирует склеиваемые элементы. Имеет высокую адгезию к
                большинству строительных материалов, за исключением полиэтилена,
                полипропилена и тефлона.
              </p>
              <p>
                Однокомпонентный полиуретановый вспенивающийся клей разработан в
                соответствии с системой VARIO SMART CELL, позволяющей управлять
                адгезионными свойствами клеевых составов и использовать их
                максимально эффективно. Характеризуется низким расширением, не
                деформирует склеиваемые элементы. Имеет высокую адгезию к
                большинству строительных материалов, за исключением полиэтилена,
                полипропилена и тефлона.
              </p>
            </div>
            <div data-toggle-btn="Скрыть" class="s-product__info-toggle">
              Подробное описание
            </div>
          </div>
        </div>
      </div>
      <div class="s-product__sidebar"></div>
    </div>
  </div>
</section>
