<section class="sect-m s-products">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">@@title</h2>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper products-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/product-3.jpg" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
