<section class="sect-m s-reminder">
  <div class="container">
    <div class="sect-wrap _catskill">
      <div class="sect-head">
        <h2 class="s-title">Памятка покупателя и условия доставки</h2>
      </div>
      <div class="slider-wrapper">
        <div class="slider-arrow _prev">
          <i class="icon-prev"></i>
        </div>
        <div class="slider-arrow _next">
          <i class="icon-next"></i>
        </div>
        <div class="swiper s-reminder__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-reminder__slide">
              <div class="item-circle">1</div>
              <div class="content-box">
                <p>
                  Доставка осуществляется до подъезда дома, калитки дачи, ворот
                  частного дома, при условии обеспечения Заказчиком
                  беспрепятственного подъезда транспортного средства к месту
                  разгрузки товара. В случае возникновения причин,
                  препятствующих подъезду (закрытый шлагбаум, платный въезд,
                  ремонт подъездных путей и т.д), доставка осуществляется до
                  места, максимально приближённого к месту планируемой разгрузки
                  товара без нарушения ПДД.
                </p>
              </div>
            </div>
            <div class="swiper-slide s-reminder__slide">
              <div class="item-circle">2</div>
              <div class="content-box">
                <p>
                  В случае отказа Заказчика от подписания документов,
                  подтверждающих получение товара и выполнение доставки,
                  передача товара не производится.
                </p>
              </div>
            </div>
            <div class="swiper-slide s-reminder__slide">
              <div class="item-circle">3</div>
              <div class="content-box">
                <p>
                  В случае отсутствия Заказчика либо уполномоченного лица
                  Заказчика по указанному адресу доставки в согласованный
                  промежуток времени, стоимость доставки не компенсируется и не
                  возвращается. Повторная доставка в этом случае осуществляется
                  после оформления и оплаты новой Заявки на доставку.
                </p>
              </div>
            </div>
            <div class="swiper-slide s-reminder__slide">
              <div class="item-circle">1</div>
              <div class="content-box">
                <p>
                  Доставка осуществляется до подъезда дома, калитки дачи, ворот
                  частного дома, при условии обеспечения Заказчиком
                  беспрепятственного подъезда транспортного средства к месту
                  разгрузки товара. В случае возникновения причин,
                  препятствующих подъезду (закрытый шлагбаум, платный въезд,
                  ремонт подъездных путей и т.д), доставка осуществляется до
                  места, максимально приближённого к месту планируемой разгрузки
                  товара без нарушения ПДД.
                </p>
              </div>
            </div>
            <div class="swiper-slide s-reminder__slide">
              <div class="item-circle">2</div>
              <div class="content-box">
                <p>
                  В случае отказа Заказчика от подписания документов,
                  подтверждающих получение товара и выполнение доставки,
                  передача товара не производится.
                </p>
              </div>
            </div>
            <div class="swiper-slide s-reminder__slide">
              <div class="item-circle">3</div>
              <div class="content-box">
                <p>
                  В случае отсутствия Заказчика либо уполномоченного лица
                  Заказчика по указанному адресу доставки в согласованный
                  промежуток времени, стоимость доставки не компенсируется и не
                  возвращается. Повторная доставка в этом случае осуществляется
                  после оформления и оплаты новой Заявки на доставку.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
