<section class="s-rec sect-m">
  <div class="container">
    <div class="sect-wrap _catskill">
      <div class="sect-head">
        <h2 class="s-title">Товары месяца</h2>
        <a href="#" class="btn-m _outline">Все акции</a>
      </div>
      <div class="slider-wrapper">
        <div class="slider-arrow _prev">
          <i class="icon-prev"></i>
        </div>
        <div class="slider-arrow _next">
          <i class="icon-next"></i>
        </div>
        <div class="swiper s-rec__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                    всесезонная 1000 мл
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                    всесезонная 1000 мл
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                    всесезонная 1000 мл
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                    всесезонная 1000 мл
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ HT универсальная монтажная
                    всесезонная 1000 мл
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="card-product-r">
                <div class="card-product-r__gallery">
                  <img src="@img/card-product-r.jpg" alt="image" />
                  <div class="item-discount">-19%</div>
                </div>
                <div class="card-product-r__body">
                  <div class="card-product-r__title">
                    Клей-пена KUDO SUPERBLITZ
                  </div>
                  <div class="card-product-r__price">
                    <div class="item-price">710 ₽</div>
                    <div class="item-old-price">874 ₽</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
