<section class="sect-m s-shops">
  <div class="container">
    <div class="sect-wrap _catskill _hidden">
      <div class="sect-head">
        <h2 class="s-title">Наши магазины</h2>
      </div>
      <div class="swiper sect-nav s-shops__nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="sect-nav-btn btn-m _outline _active">Казань (8)</div>
          </div>
          <div class="swiper-slide">
            <div class="sect-nav-btn btn-m _outline">Рыбная слобода (1)</div>
          </div>
          <div class="swiper-slide">
            <div class="sect-nav-btn btn-m _outline">Тургай-2 (1)</div>
          </div>
          <div class="swiper-slide">
            <div class="sect-nav-btn btn-m _outline">Куюки (1)</div>
          </div>
        </div>
      </div>
      <div class="s-shops__wrap">
        <div class="s-shops__list">
          <div class="s-shops__item">
            <div class="s-shops__item-title">ул. Техническая, 60</div>
            <div class="s-shops__item-wrap">
              <ul class="list s-shops__item-list">
                <li>
                  <span class="item-name">пн-сб:</span>
                  <span>с 8:00 до 19:00,</span>
                </li>
                <li>
                  <span class="item-name">вс: </span>
                  <span>с 8:00 до 17:00.</span>
                </li>
              </ul>
              <div class="s-shops__item-social">
                <a href="tel:+79534995640" class="s-shops__item-tel">
                  +7 (953) 499 56-40
                </a>
                <div class="social-s">
                  <a href="#" target="_blank" rel="nofollow" class="social-s-btn">
                    <i class="icon-tg"></i>
                  </a>
                  <a href="#" target="_blank" rel="nofollow" class="social-s-btn">
                    <i class="icon-max"></i>
                  </a>
                  <a href="#" target="_blank" rel="nofollow" class="social-s-btn">
                    <i class="icon-mail"></i>
                  </a>
                </div>
              </div>
              <div class="s-shops__item-gallery">
                <a href="@img/gallery-shop.jpg" data-fancybox="gallery-shop-1" class="s-shops__gallery-item">
                  <img src="@img/gallery-shop.jpg" alt="image">
                </a>
                <a href="@img/gallery-shop.jpg" data-fancybox="gallery-shop-1" class="s-shops__gallery-item">
                  <img src="@img/gallery-shop.jpg" alt="image">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
