<section class="sect-m s-shops">
  <div class="container tabs">
    <div class="sect-wrap _catskill _hidden">
      <div class="sect-head">
        <h2 class="s-title">Наши магазины</h2>
      </div>
      <div class="swiper sect-nav tabs-nav s-shops__nav">
        <div class="sect-nav-side _prev">
          <div class="item-wrap"></div>
        </div>
        <div class="sect-nav-side _next">
          <div class="item-wrap"></div>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              data-tab-btn="tab-0"
              class="sect-nav-btn btn-m _outline _active"
            >
              Казань (8)
            </div>
          </div>
          <div class="swiper-slide">
            <div data-tab-btn="tab-1" class="sect-nav-btn btn-m _outline">
              Рыбная слобода (1)
            </div>
          </div>
          <div class="swiper-slide">
            <div data-tab-btn="tab-0" class="sect-nav-btn btn-m _outline">
              Тургай-2 (1)
            </div>
          </div>
          <div class="swiper-slide">
            <div data-tab-btn="tab-1" class="sect-nav-btn btn-m _outline">
              Куюки (1)
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-content">
        <div data-shops-map-container data-tab="tab-0" class="_active _show">
          <div class="s-shops__wrap">
            <div class="s-shops__list _scrollbar">
              <div
                data-map-item="[55.74377556897573,49.133345499999955]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Техническая, 60</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[55.86528256887051,49.063313]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Беломорская, 45</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[55.86175706889125,49.08556399999996]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Ленинградская, 22</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[56.8702480678219,60.52339050000001]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Техническая, 60</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[56.8702480678219,60.52339050000001]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Техническая, 60</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[55.86528256887051,49.063313]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Беломорская, 45</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-shops-map
              data-icon="@img/location-icon.svg"
              data-zoom="10"
              class="s-shops__map"
            ></div>
          </div>
        </div>
        <div data-shops-map-container data-tab="tab-1">
          <div class="s-shops__wrap">
            <div class="s-shops__list _scrollbar">
              <div
                data-map-item="[55.74377556897573,49.133345499999955]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Техническая, 60</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[55.86528256887051,49.063313]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Беломорская, 45</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[55.86175706889125,49.08556399999996]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Ленинградская, 22</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[56.8702480678219,60.52339050000001]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Техническая, 60</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[56.8702480678219,60.52339050000001]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Техническая, 60</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-map-item="[55.86528256887051,49.063313]"
                class="s-shops__item"
              >
                <div class="s-shops__item-title">ул. Беломорская, 45</div>
                <div class="s-shops__item-wrap">
                  <ul class="list s-shops__item-list">
                    <li>
                      <span class="item-name">пн-сб:</span>
                      <span>с 8:00 до 19:00,</span>
                    </li>
                    <li>
                      <span class="item-name">вс: </span>
                      <span>с 8:00 до 17:00.</span>
                    </li>
                  </ul>
                  <div class="s-shops__item-contacts">
                    <a href="tel:+79534995640" class="s-shops__item-tel">
                      +7 (953) 499 56-40
                    </a>
                    <div class="social-s">
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-tg"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-max"></i>
                      </a>
                      <a
                        href="#"
                        target="_blank"
                        rel="nofollow"
                        class="social-s-item"
                      >
                        <i class="icon-mail"></i>
                      </a>
                    </div>
                  </div>
                  <div class="swiper s-shops__item-gallery">
                    <div class="swiper-wrapper">
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                      <a
                        href="@img/gallery-shop.jpg"
                        data-fancybox
                        class="s-shops__gallery-item swiper-slide"
                      >
                        <img src="@img/gallery-shop.jpg" alt="image" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-shops-map
              data-icon="@img/location-icon.svg"
              data-zoom="10"
              class="s-shops__map"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
