<section class="s-shop sect-m _first">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <div class="breadcrumbs">
          <a href="#" class="breadcrumb-item">Интернет-магазин Колорит</a>
          <span class="breadcrumb-separator">
            <i class="icon-next"></i>
          </span>
          <span class="breadcrumb-item _current">Каталог товаров</span>
        </div>
        <h2 class="s-title">Пены, герметики, клеи</h2>
      </div>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <i class="icon-prev"></i>
      </div>
      <div class="slider-arrow _next">
        <i class="icon-next"></i>
      </div>
      <div class="swiper cats-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Герметики</h3>
              <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Герметики</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Клеи</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Герметики</h3>
              <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Герметики</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Клеи</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Герметики</h3>
              <img src="@img/cat-2.jpg" alt="image" class="card-cat__img" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Герметики</h3>
              <img src="@img/cat.jpg" alt="image" class="card-cat__img" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-cat">
              <h3 class="card-cat__title">Клеи</h3>
              <img
                src="@img/card-color.jpg"
                alt="image"
                class="card-cat__img"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
    <div class="s-shop__main">
      <div class="s-shop__head">
        <div class="s-shop__count">243 товара</div>
        <div class="s-shop__head-nav">
          <div class="s-shop__filter-buttons">
            <div class="filter-btn">
              <span>Выбор магазина: Казань, ул. Техническая, 60</span>
              <div class="item-circle">
                <i class="icon-close"></i>
              </div>
            </div>
            <div class="filter-btn">
              <span>Производитель: Рогнеда</span>
              <div class="item-circle">
                <i class="icon-close"></i>
              </div>
            </div>
            <div class="filter-btn">
              <span>Вид: ПВА</span>
              <div class="item-circle">
                <i class="icon-close"></i>
              </div>
            </div>
            <div class="filter-btn">
              <span>Цвет: белый</span>
              <div class="item-circle">
                <i class="icon-close"></i>
              </div>
            </div>
            <div class="reset-btn">
              <span>Сбросить все</span>
              <i class="icon-close"></i>
            </div>
          </div>
          <div class="s-shop__filter-btn-open" id="filters-shop-open">
            <i class="icon-filters"></i>
            <span>Фильтры</span>
          </div>
          <div class="s-shop__select-wrap">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  readonly
                  value="По популярности"
                  class="select-input"
                />
                <i class="icon-bottom"></i>
              </div>
              <div class="select-body">
                <div class="select-items-wrap _scrollbar">
                  <div class="select-item _active">По популярности</div>
                  <div class="select-item">По возрастанию</div>
                  <div class="select-item">По убыванию</div>
                  <div class="select-item">По дате</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-shop__wrap">
        <div class="s-shop__filters-overlay" id="filters-shop-overlay"></div>
        <div class="s-shop__filters" id="filters-shop">
          <div class="s-shop__filters-head">
            <div class="s-shop__filters-close" id="filters-shop-close">
              <i class="icon-prev"></i>
            </div>
            <div class="s-shop__filters-title">Фильтры</div>
          </div>
          <div data-spollers class="s-shop__filters-body">
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head _spoller-active">
                <span>Наличие в магазинах</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      readonly
                      value="В любом из 11 магазинов"
                      class="select-input"
                    />
                    <i class="icon-bottom"></i>
                  </div>
                  <div class="select-body">
                    <div class="select-check-wrap">
                      <div class="select-check-wrap-inside _scrollbar">
                        <div class="select-check-block">
                          <div class="select-check-block-title">Казань</div>
                          <div class="select-check-items">
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Техническая, 60</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Беломорская, 45</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Ленинградская, 22</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Техническая, 60</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Беломорская, 45</span>
                            </label>
                          </div>
                        </div>
                        <div class="select-check-block">
                          <div class="select-check-block-title">
                            Рыбная слобода
                          </div>
                          <div class="select-check-items">
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Техническая, 60</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Беломорская, 45</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Ленинградская, 22</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Техническая, 60</span>
                            </label>
                            <label class="check-item">
                              <input type="checkbox" />
                              <span>ул. Беломорская, 45</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>В наличии</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>Под заказ</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Цена, ₽</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-price">
                  <div class="price-item">
                    <div class="price-item-text">от</div>
                    <input
                      type="text"
                      placeholder="0"
                      value="152"
                      class="price-item-input"
                    />
                  </div>
                  <div class="price-item">
                    <div class="price-item-text">до</div>
                    <input
                      type="text"
                      placeholder="99999"
                      value="5 144"
                      class="price-item-input"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Производитель</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Вид</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Область применения</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Температура применения</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Цвет</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="s-shop__filters-spoller">
              <div data-spoller class="s-shop__filter-head">
                <span>Метод нанесения</span>
                <div class="item-rect"></div>
              </div>
              <div class="s-shop__filter-body">
                <div class="s-shop__filter-list">
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" checked />
                    <span>Рогнеда</span>
                  </label>
                  <label class="check-item">
                    <input type="checkbox" />
                    <span>VIXEN</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="s-shop__filters-nav">
            <div class="btn-s s-shop__filters-submit">Применить</div>
            <div class="s-shop__filters-reset">
              <span>Сбросить все</span>
              <i class="icon-close"></i>
            </div>
          </div>
        </div>
        <div class="s-shop__products">
          <div class="s-shop__grid">
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-1.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР АВ-125-41 аккумуляторная
                  бесщеточная "ПРОФЕССИОНАЛ" 20В
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>18 717 ₽</strong></div>
                    <div class="item-text">Онлайн (-5%)</div>
                  </div>
                  <div class="item-price">
                    <div class="item-price">19 702 ₽</div>
                    <div class="item-text">В магазине</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
            <article class="card-product">
              <a href="#" class="card-product__gallery">
                <img src="@img/card-product-2.png" alt="image" />
                <div class="item-discount">-19%</div>
              </a>
              <div class="card-product__body">
                <div class="card-product__id">Артикул: 00000122303</div>
                <a href="#" class="card-product__title">
                  Углошлифовальная машина ЗУБР
                </a>
              </div>
              <div
                data-product-availability='[{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."},{"title": "Дербышки, Мира 45А", "count": "3 шт.", "text": "пн-вс: c 8:00 до 20:00, <br/> вс: с 8:00 до 19:00."}]'
                class="card-product__location-btn tooltip-a-btn"
              >
                <i class="icon-location"></i>
                <span>В наличии</span>
              </div>
              <div class="card-product__bottom">
                <div class="card-product__price">
                  <div class="item-price">
                    <div class="item-price"><strong>490 ₽</strong></div>
                  </div>
                  <div class="item-price">
                    <div class="item-price-old">602 ₽</div>
                  </div>
                </div>
                <div class="card-product__cart-btn">
                  <i class="icon-cart"></i>
                  <span>В корзину</span>
                </div>
              </div>
            </article>
          </div>
          <div class="content-box s-shop__content">
            <p>
              Интернет-магазин «Колорит» предлагает высококачественные пены,
              герметики и клеи от ведущих производителей, которые отличаются
              надежностью, прочностью и долговечностью.
            </p>
            <p>
              В нашем каталоге вы найдете широкий выбор пен для утепления,
              которые позволят вам сэкономить на отоплении и создать комфортный
              микроклимат в вашем доме. Они идеально подходят для заполнения
              промежутков между стенами, потолками и полами, а также для
              герметизации окон и дверей.
              <br />
              Помимо этого мы предлагаем разнообразные герметики, которые
              помогут предотвратить проникновение влаги, пыли и шума в ваш дом.
              Эти продукты обладают отличной адгезией к различным материалам,
              что обеспечивает надежное и долговечное уплотнение.
            </p>
            <p>
              В нашем каталоге вы найдете также клеи различных видов, которые
              обладают хорошей прочностью и позволяют создавать крепкие
              соединения.
              <br />
              У нас вы можете приобрести все необходимое для строительства или
              ремонта - от пен, герметиков и клеев до инструментов и
              аксессуаров. Наши специалисты всегда готовы проконсультировать вас
              и подобрать оптимальное решение для ваших потребностей.
            </p>
            <p>
              Закажите пены, герметики, клеи с доставкой по Казани и пригороду
              на нашем сайте или свяжитесь с нашими менеджерами для получения
              более подробной информации.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
