<section class="s-social">
  <div class="container">
    <div class="s-social__wrap">
      <div class="s-social__head">
        <h2 class="s-title">Наши соцсети</h2>
        <div class="content-box s-social__content">
          <p>
            В рамках спецификации современных стандартов, предприниматели в сети
            интернет разоблачены.
          </p>
        </div>
      </div>
      <ul class="list s-social__list">
        <li>
          <a href="#" target="_blank" rel="nofollow">
            <div class="item-circle _primary">
              <i class="icon-tg"></i>
            </div>
            <span>Скидки и новости в Телеграм</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="nofollow">
            <div class="item-circle _primary">
              <i class="icon-max"></i>
            </div>
            <span>Скидки и новости в Макс</span>
          </a>
        </li>
      </ul>
      <img src="@img/social-img.png" alt="image" class="s-social__img">
    </div>
  </div>
</section>
