<section class="sect-m s-steps">
  <div class="container">
    <div class="sect-wrap _catskill">
      <div class="sect-head">
        <h2 class="s-title">Как сделать заказ юр. лицу</h2>
      </div>
      <div class="s-steps__wrapper">
        <div class="s-steps__item">
          <div class="item-tag">Шаг 1</div>
          <h3 class="item-title">Оставить заявку и заключить договор</h3>
          <p class="item-content">
            Пройдите процесс регистрации, заполнив форму и добавьте карту
            “Колоритка” к себе в телефон
          </p>
          <a href="#modal-feedback" data-fancybox class="btn-s item-btn">
            Оставить заявку
          </a>
        </div>
        <div class="s-steps__item">
          <div class="item-tag">Шаг 2</div>
          <h3 class="item-title">Оформить заказ</h3>
          <p class="item-content">
            Оформлять заказы можно на сайте, по электронной почте, в чате, соц.
            сетях, по телефону или в коммерческом отделе строительного центра.
          </p>
          <a href="#modal-feedback" class="btn-s item-btn _geyser">Выбрать товары</a>
        </div>
        <div class="s-steps__item">
          <div class="item-tag">Шаг 3</div>
          <h3 class="item-title">В провинциях ещё есть чем поживиться</h3>
          <p class="item-content">
            Таким образом, новая модель организационной деятельности
            предполагает независимые способы реализации поставленных обществом
            задач.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
